@import 'animation';
@import 'grid';
@import 'hmck_icons';

/* VARIABLES */
$fjalla-font: 'Fjalla One', sans;
$sail-font: 'Sail', cursive;

/* MIXINS */
@mixin dark-theme {
  div h1{
		color:#444;	
	}
	div h2{
		color:#1d1d1d;
	}
	div a.primary-link{
		color:#999; 
		background:#1d1d1d;	
		background:rgba(0,0,0,0.6);	
		&:hover{
			background:#333;	
			background:rgba(0,0,0,0.9);	
		}
	}
}

@mixin textshadow ($color) {
	text-shadow: 
		1px 0px 0 $color,
		-1px 0px 0 $color,
		0px -1px 0 $color,
		0px 1px 0 $color,
		2px 0px 0 $color,
		-2px 0px 0 $color,
		0px -2px 0 $color,
		0px 2px 0 $color
		;
}

/*
	@font-face {
    font-family: 'WMD Logo';
    src: url('/font/wmd_logo-webfont.eot');
    src: url('/font/wmd_logo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/wmd_logo-webfont.woff') format('woff'),
         url('/font/wmd_logo-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/

body{ 
	background:#1d1d1d; 
	font-family: sans;  
	background-position: 50% 20%;	
	@media screen and (max-width: 1200px) {  
		background-size: cover;
		-moz-background-size: cover;	
	}
	.clear{
		clear: both;
	}
	div{
		h1{ 
			font-family: $sail-font;
			font-weight:normal; 
			display:block; 
			line-height:1em; 
			font-size:10em; 
			text-align:center; 
			padding:0;
			margin:1em 0 0 0;
			color:#777; 
			@media screen and (max-width: 580px) {
				font-size:5em;
			}
		}
		h2{ 
			font-family: $fjalla-font;
			font-weight:normal; 
			display:block; 
			line-height:2em; 
			font-size:1.2em; 
			text-align:center; 
			padding:0;
			margin:1em 0 0 0;
			color:#ececec; 
			@media screen and (max-width: 580px) {
  				font-size:1em;
			}
		}
		a {
			&.primary-link{			
				width: 2em;
				font-family: $fjalla-font;
				font-weight: normal;
				display: block;
				margin: 1em auto;
				line-height: 2em;
				font-size: 3.5em;
				border-radius:2em;
				background:#999; 
				color:#1d1d1d;
				text-decoration:none;
				text-indent: 16px;
				-webkit-transition:background 0.5s linear; 
				-moz-transition:background 0.5s linear; 
				-o-transition:background 0.5s linear; 
				transition:background 0.5s linear;

				&:hover { 
					background:#ececec; 
				}
			}	
			.label { 
				text-indent: 0px;
				text-align: center;
				display: block;
				padding: 0;
				margin: 0 auto;
			}		
		}
		span.amp{
			font-family: $sail-font;
			margin: 0 0.5em; 
			font-size:2em;
			@media screen and (max-width: 580px) {
 				display:block;
				width:100%;
				margin: 0; 
			} 
		}
		&.footer-icons{
			color:rgba(255,255,255,0.5);
			text-align: center;
			font-size: 3em;
			margin: 2em 0;
			@media screen and (max-width: 580px) {
  				font-size:1.5em;
			}
			.wmd {
				font-family: 'WMD Logo';
				font-size: 4em;
			}
			.icon-heart-empty{								
				animation: pound 0.5s infinite;
			}
			.heart{
				font-family: 'hmck_icons';				
			}
		}
	}
	.info-link{
		font-size: 1.5em;
		position: absolute;
		display: block;
		right:1em;
		top: 1em;
		text-decoration: none;
		background: none;
		color: #555;
		cursor: pointer;
		@media screen and (max-width: 860px) {  
  			font-size: 2.0em;
			right:0.5em;
			top: 0.5em;
		}
	}
	.info-bubble{
		font-size: 0.8em;
		padding: 7px;
		display: none;
		background: #000;
		border-radius: 5px;
		color: #fff;
		font-family: $fjalla-font;
		position: absolute;
		top: 1.8em;
		right: 5em;
		line-height: 1.5em;
		@media screen and (max-width: 860px) {  
			width:auto;
		}
	}
	.info-bubble span{
		font-size: 0.9em;
		font-style: italic;
	}

	/* NZ Theme */
	&.nz{ 
		background-image: url('../imgs/nz-background.jpg');
		@include dark-theme;
	}
	/* Summer */
	&.summer{ 
		background-image: url('../imgs/summer-background.jpg');
		@include dark-theme;
	}
	
	.font-border{
		// border-radius: 5px;
		// text-shadow:1px 0px 0 #000;
		// @include textshadow(#fff);
		
	}
}