---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import HeaderNav from "../components/vue-components/header/HeaderNav.vue";
import FooterNav from "../components/vue-components/footer/FooterNav.vue";

const pageTitle = SITE_TITLE + " - Dear Recruiter";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="standard-page h-full w-full">
      <HeaderNav client:only />

      <main class="mx-auto w-full sm:w-2/3 p-4 mb-10">
        <article>
          <h1>Dear Recruiter</h1>

          <p>
            If you have reached out to me recently on LinkedIn, and I've
            directed you here, it's so that you have reached out with a job
            opportunity that you feel I am suitable for. I appreciate the time
            you have taken to reach out to me, and I hope you also appreciate
            that I frequently get contacted about job opportunities. Some which
            suit me, and some which I know won't. I'm hoping this page will help
            you understand a bit more about me, and what I'm looking for in my
            next role.
          </p>

          <h2>Do my skills match your requirements?</h2>
          <p>
            Quite often I get roles related to design, or specifically requiring
            X years of React experience to be considered. I've never really used
            React in a professional setting, bar the stock Hello World app using
            create-react-app I created and dabbled with many moons ago. So if I
            went forward for a role that required React specifically, I feel I'd
            be wasting their time and my own. I'm absolutely open to learning
            new things, which from my experience, I hope you can see I have done
            that throughout my career.
          </p>

          <h2>What type of Company am I looking for?</h2>
          <p>
            I like to work in interesting industries, and on interesting
            products. I have worked in a few different companies over the years,
            and some have been quite niche.
          </p>

          <p>
            I typically look for companies where I can be an effective team
            player, and it has a nice collaborative culture.
          </p>

          <p>
            I have had a number of roles in my career, including Leadership
            roles. But I am happiest when I am contributing to the development
            side of a product. Roles which offer an opportunity to grow into a
            Leadership role don't necessarily appeal to me, as I am really
            comfortable at a Senior Engineer level. I'm not seeking an
            Engineering Manager or Team Lead level role. I'm absolutely happy to
            provide mentorship to junior engineers in my Senior Engineer
            capacity, but I'm not looking to manage a team, having done so for a
            number of years already.
          </p>

          <h2>The Recruitment Process</h2>
          <p>
            I've reached the point where I have amassed quite a bit of
            experience. I like to work for companies
          </p>
        </article>
      </main>

      <FooterNav showContact={true} showSocials={true} />
    </div>
  </body>
</html>
