header(class="header-scene")
  div(class="nav-wrapper")
    nav(class="flex items-center justify-around h-16 w-full sm:w-2/3 mx-auto text-xl")
        a(href="#about") About
        a(href="#skills") Skills
        a(href="#contact") Contact

  div(class="sky")
    div(class="stars-small") &nbsp;
    div(class="stars-large") &nbsp;
    div(class="mountain skyline") &nbsp;
    div(class="text")
      h1 Harry
      h2 McKillen
      //- h3 Web Developer / Senior Front-end Developer / Team Lead / UI Architect
  div(class="foreground")
    div(class="line spacing xxs") &nbsp;
    div(class="line spacing xs") &nbsp;
    div(class="line spacing xs") &nbsp;
    div(class="line spacing xs") &nbsp;
    div(class="line spacing sm") &nbsp;
    div(class="line spacing sm") &nbsp;
    div(class="line spacing md") &nbsp;
    div(class="line spacing md") &nbsp;
    div(class="line spacing lg") &nbsp;
    div(class="line spacing lg") &nbsp;
    div(class="line spacing xl") &nbsp;
    div(class="line spacing xl") &nbsp;
    div(class="line") &nbsp;
