.blinking-cursor {
  width: 10px;
  height: 100%;
  font-family: monospace;
  display: inline-block;
  // background:
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $foreground;
  }
}

@-moz-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $foreground;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $foreground;
  }
}

@-ms-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $foreground;
  }
}

@-o-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $foreground;
  }
}
