@mixin superwide {
  @media screen and (min-width: $superwide) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}


@mixin twitter-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family: monospace;
  box-shadow:
  $pixel-size*12 0 0 $colour,

  $pixel-size*10 $pixel-size*1 0 $colour,
  $pixel-size*11 $pixel-size*1 0 $colour,

  $pixel-size*0 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,
  $pixel-size*10 $pixel-size*2 0 $colour,
  $pixel-size*11 $pixel-size*2 0 $colour,
  $pixel-size*12 $pixel-size*2 0 $colour,

  $pixel-size*0 $pixel-size*3 0 $colour,
  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,
  $pixel-size*10 $pixel-size*3 0 $colour,
  $pixel-size*11 $pixel-size*3 0 $colour,
  $pixel-size*12 $pixel-size*3 0 $colour,
  $pixel-size*13 $pixel-size*3 0 $colour,

  $pixel-size*0 $pixel-size*4 0 $colour,
  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,
  $pixel-size*10 $pixel-size*4 0 $colour,
  $pixel-size*11 $pixel-size*4 0 $colour,
  $pixel-size*12 $pixel-size*4 0 $colour,
  $pixel-size*13 $pixel-size*4 0 $colour,
  $pixel-size*14 $pixel-size*4 0 $colour,
  $pixel-size*15 $pixel-size*4 0 $colour,

  $pixel-size*1 $pixel-size*5 0 $colour,
  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*4 $pixel-size*5 0 $colour,
  $pixel-size*5 $pixel-size*5 0 $colour,
  $pixel-size*8 $pixel-size*5 0 $colour,
  $pixel-size*9 $pixel-size*5 0 $colour,
  $pixel-size*10 $pixel-size*5 0 $colour,
  $pixel-size*11 $pixel-size*5 0 $colour,
  $pixel-size*12 $pixel-size*5 0 $colour,
  $pixel-size*13 $pixel-size*5 0 $colour,
  $pixel-size*14 $pixel-size*5 0 $colour,

  $pixel-size*0 $pixel-size*6 0 $colour,
  $pixel-size*1 $pixel-size*6 0 $colour,
  $pixel-size*2 $pixel-size*6 0 $colour,
  $pixel-size*3 $pixel-size*6 0 $colour,
  $pixel-size*4 $pixel-size*6 0 $colour,
  $pixel-size*5 $pixel-size*6 0 $colour,
  $pixel-size*6 $pixel-size*6 0 $colour,
  $pixel-size*7 $pixel-size*6 0 $colour,
  $pixel-size*8 $pixel-size*6 0 $colour,
  $pixel-size*9 $pixel-size*6 0 $colour,
  $pixel-size*10 $pixel-size*6 0 $colour,
  $pixel-size*11 $pixel-size*6 0 $colour,
  $pixel-size*12 $pixel-size*6 0 $colour,
  $pixel-size*13 $pixel-size*6 0 $colour,

  $pixel-size*2 $pixel-size*7 0 $colour,
  $pixel-size*3 $pixel-size*7 0 $colour,
  $pixel-size*4 $pixel-size*7 0 $colour,
  $pixel-size*5 $pixel-size*7 0 $colour,
  $pixel-size*6 $pixel-size*7 0 $colour,
  $pixel-size*7 $pixel-size*7 0 $colour,
  $pixel-size*8 $pixel-size*7 0 $colour,
  $pixel-size*9 $pixel-size*7 0 $colour,
  $pixel-size*10 $pixel-size*7 0 $colour,
  $pixel-size*11 $pixel-size*7 0 $colour,
  $pixel-size*12 $pixel-size*7 0 $colour,
  $pixel-size*13 $pixel-size*7 0 $colour,

  $pixel-size*1 $pixel-size*8 0 $colour,
  $pixel-size*2 $pixel-size*8 0 $colour,
  $pixel-size*3 $pixel-size*8 0 $colour,
  $pixel-size*4 $pixel-size*8 0 $colour,
  $pixel-size*5 $pixel-size*8 0 $colour,
  $pixel-size*6 $pixel-size*8 0 $colour,
  $pixel-size*7 $pixel-size*8 0 $colour,
  $pixel-size*8 $pixel-size*8 0 $colour,
  $pixel-size*9 $pixel-size*8 0 $colour,
  $pixel-size*10 $pixel-size*8 0 $colour,
  $pixel-size*11 $pixel-size*8 0 $colour,
  $pixel-size*12 $pixel-size*8 0 $colour,
  $pixel-size*13 $pixel-size*8 0 $colour,

  $pixel-size*2 $pixel-size*9 0 $colour,
  $pixel-size*3 $pixel-size*9 0 $colour,
  $pixel-size*4 $pixel-size*9 0 $colour,
  $pixel-size*5 $pixel-size*9 0 $colour,
  $pixel-size*6 $pixel-size*9 0 $colour,
  $pixel-size*7 $pixel-size*9 0 $colour,
  $pixel-size*8 $pixel-size*9 0 $colour,
  $pixel-size*9 $pixel-size*9 0 $colour,
  $pixel-size*10 $pixel-size*9 0 $colour,
  $pixel-size*11 $pixel-size*9 0 $colour,
  $pixel-size*12 $pixel-size*9 0 $colour,
  $pixel-size*13 $pixel-size*9 0 $colour,

  $pixel-size*3 $pixel-size*10 0 $colour,
  $pixel-size*4 $pixel-size*10 0 $colour,
  $pixel-size*5 $pixel-size*10 0 $colour,
  $pixel-size*6 $pixel-size*10 0 $colour,
  $pixel-size*7 $pixel-size*10 0 $colour,
  $pixel-size*8 $pixel-size*10 0 $colour,
  $pixel-size*9 $pixel-size*10 0 $colour,
  $pixel-size*10 $pixel-size*10 0 $colour,
  $pixel-size*11 $pixel-size*10 0 $colour,
  $pixel-size*12 $pixel-size*10 0 $colour,

  $pixel-size*4 $pixel-size*11 0 $colour,
  $pixel-size*5 $pixel-size*11 0 $colour,
  $pixel-size*6 $pixel-size*11 0 $colour,
  $pixel-size*7 $pixel-size*11 0 $colour,
  $pixel-size*8 $pixel-size*11 0 $colour,
  $pixel-size*9 $pixel-size*11 0 $colour,
  $pixel-size*10 $pixel-size*11 0 $colour,
  $pixel-size*11 $pixel-size*11 0 $colour,
  $pixel-size*12 $pixel-size*11 0 $colour,

  $pixel-size*5 $pixel-size*12 0 $colour,
  $pixel-size*6 $pixel-size*12 0 $colour,
  $pixel-size*7 $pixel-size*12 0 $colour,
  $pixel-size*8 $pixel-size*12 0 $colour,
  $pixel-size*9 $pixel-size*12 0 $colour,
  $pixel-size*10 $pixel-size*12 0 $colour,
  $pixel-size*11 $pixel-size*12 0 $colour,

  $pixel-size*3 $pixel-size*13 0 $colour,
  $pixel-size*4 $pixel-size*13 0 $colour,
  $pixel-size*5 $pixel-size*13 0 $colour,
  $pixel-size*6 $pixel-size*13 0 $colour,
  $pixel-size*7 $pixel-size*13 0 $colour,
  $pixel-size*8 $pixel-size*13 0 $colour,
  $pixel-size*9 $pixel-size*13 0 $colour,

  $pixel-size*1 $pixel-size*14 0 $colour,
  $pixel-size*2 $pixel-size*14 0 $colour,
  $pixel-size*3 $pixel-size*14 0 $colour,
  $pixel-size*4 $pixel-size*14 0 $colour,
  $pixel-size*5 $pixel-size*14 0 $colour,
  $pixel-size*6 $pixel-size*14 0 $colour;
}

@mixin linkedin-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
    $pixel-size*1 0 0 $colour,
    $pixel-size*2 0 0 $colour,
    $pixel-size*3 0 0 $colour,
    $pixel-size*4 0 0 $colour,
    $pixel-size*5 0 0 $colour,
    $pixel-size*6 0 0 $colour,
    $pixel-size*7 0 0 $colour,
    $pixel-size*8 0 0 $colour,
    $pixel-size*9 0 0 $colour,
    $pixel-size*10 0 0 $colour,
    $pixel-size*11 0 0 $colour,
    $pixel-size*12 0 0 $colour,
    $pixel-size*13 0 0 $colour,
    $pixel-size*14 0 0 $colour,

    $pixel-size*0 $pixel-size*1 0 $colour,
    $pixel-size*1 $pixel-size*1 0 $colour,
    $pixel-size*2 $pixel-size*1 0 $colour,
    $pixel-size*3 $pixel-size*1 0 $colour,
    $pixel-size*4 $pixel-size*1 0 $colour,
    $pixel-size*5 $pixel-size*1 0 $colour,
    $pixel-size*6 $pixel-size*1 0 $colour,
    $pixel-size*7 $pixel-size*1 0 $colour,
    $pixel-size*8 $pixel-size*1 0 $colour,
    $pixel-size*9 $pixel-size*1 0 $colour,
    $pixel-size*10 $pixel-size*1 0 $colour,
    $pixel-size*11 $pixel-size*1 0 $colour,
    $pixel-size*12 $pixel-size*1 0 $colour,
    $pixel-size*13 $pixel-size*1 0 $colour,
    $pixel-size*14 $pixel-size*1 0 $colour,
    $pixel-size*15 $pixel-size*1 0 $colour,

    $pixel-size*0 $pixel-size*2 0 $colour,
    $pixel-size*1 $pixel-size*2 0 $colour,
    $pixel-size*5 $pixel-size*2 0 $colour,
    $pixel-size*6 $pixel-size*2 0 $colour,
    $pixel-size*7 $pixel-size*2 0 $colour,
    $pixel-size*8 $pixel-size*2 0 $colour,
    $pixel-size*9 $pixel-size*2 0 $colour,
    $pixel-size*10 $pixel-size*2 0 $colour,
    $pixel-size*11 $pixel-size*2 0 $colour,
    $pixel-size*12 $pixel-size*2 0 $colour,
    $pixel-size*13 $pixel-size*2 0 $colour,
    $pixel-size*14 $pixel-size*2 0 $colour,
    $pixel-size*15 $pixel-size*2 0 $colour,

    $pixel-size*0 $pixel-size*3 0 $colour,
    $pixel-size*1 $pixel-size*3 0 $colour,
    $pixel-size*5 $pixel-size*3 0 $colour,
    $pixel-size*6 $pixel-size*3 0 $colour,
    $pixel-size*7 $pixel-size*3 0 $colour,
    $pixel-size*8 $pixel-size*3 0 $colour,
    $pixel-size*9 $pixel-size*3 0 $colour,
    $pixel-size*10 $pixel-size*3 0 $colour,
    $pixel-size*11 $pixel-size*3 0 $colour,
    $pixel-size*12 $pixel-size*3 0 $colour,
    $pixel-size*13 $pixel-size*3 0 $colour,
    $pixel-size*14 $pixel-size*3 0 $colour,
    $pixel-size*15 $pixel-size*3 0 $colour,

    $pixel-size*0 $pixel-size*4 0 $colour,
    $pixel-size*1 $pixel-size*4 0 $colour,
    $pixel-size*5 $pixel-size*4 0 $colour,
    $pixel-size*6 $pixel-size*4 0 $colour,
    $pixel-size*7 $pixel-size*4 0 $colour,
    $pixel-size*8 $pixel-size*4 0 $colour,
    $pixel-size*9 $pixel-size*4 0 $colour,
    $pixel-size*10 $pixel-size*4 0 $colour,
    $pixel-size*11 $pixel-size*4 0 $colour,
    $pixel-size*12 $pixel-size*4 0 $colour,
    $pixel-size*13 $pixel-size*4 0 $colour,
    $pixel-size*14 $pixel-size*4 0 $colour,
    $pixel-size*15 $pixel-size*4 0 $colour,

    $pixel-size*0 $pixel-size*5 0 $colour,
    $pixel-size*1 $pixel-size*5 0 $colour,
    $pixel-size*2 $pixel-size*5 0 $colour,
    $pixel-size*3 $pixel-size*5 0 $colour,
    $pixel-size*4 $pixel-size*5 0 $colour,
    $pixel-size*5 $pixel-size*5 0 $colour,
    $pixel-size*6 $pixel-size*5 0 $colour,
    $pixel-size*7 $pixel-size*5 0 $colour,
    $pixel-size*8 $pixel-size*5 0 $colour,
    $pixel-size*9 $pixel-size*5 0 $colour,
    $pixel-size*10 $pixel-size*5 0 $colour,
    $pixel-size*11 $pixel-size*5 0 $colour,
    $pixel-size*12 $pixel-size*5 0 $colour,
    $pixel-size*13 $pixel-size*5 0 $colour,
    $pixel-size*14 $pixel-size*5 0 $colour,
    $pixel-size*15 $pixel-size*5 0 $colour,

    $pixel-size*0 $pixel-size*6 0 $colour,
    $pixel-size*1 $pixel-size*6 0 $colour,
    $pixel-size*5 $pixel-size*6 0 $colour,
    $pixel-size*9 $pixel-size*6 0 $colour,
    $pixel-size*13 $pixel-size*6 0 $colour,
    $pixel-size*14 $pixel-size*6 0 $colour,
    $pixel-size*15 $pixel-size*6 0 $colour,

    $pixel-size*0 $pixel-size*7 0 $colour,
    $pixel-size*1 $pixel-size*7 0 $colour,
    $pixel-size*5 $pixel-size*7 0 $colour,
    $pixel-size*14 $pixel-size*7 0 $colour,
    $pixel-size*15 $pixel-size*7 0 $colour,

    $pixel-size*0 $pixel-size*8 0 $colour,
    $pixel-size*1 $pixel-size*8 0 $colour,
    $pixel-size*5 $pixel-size*8 0 $colour,
    $pixel-size*10 $pixel-size*8 0 $colour,
    $pixel-size*14 $pixel-size*8 0 $colour,
    $pixel-size*15 $pixel-size*8 0 $colour,

    $pixel-size*0 $pixel-size*9 0 $colour,
    $pixel-size*1 $pixel-size*9 0 $colour,
    $pixel-size*5 $pixel-size*9 0 $colour,
    $pixel-size*9 $pixel-size*9 0 $colour,
    $pixel-size*10 $pixel-size*9 0 $colour,
    $pixel-size*14 $pixel-size*9 0 $colour,
    $pixel-size*15 $pixel-size*9 0 $colour,

    $pixel-size*0 $pixel-size*10 0 $colour,
    $pixel-size*1 $pixel-size*10 0 $colour,
    $pixel-size*5 $pixel-size*10 0 $colour,
    $pixel-size*9 $pixel-size*10 0 $colour,
    $pixel-size*10 $pixel-size*10 0 $colour,
    $pixel-size*14 $pixel-size*10 0 $colour,
    $pixel-size*15 $pixel-size*10 0 $colour,

    $pixel-size*0 $pixel-size*11 0 $colour,
    $pixel-size*1 $pixel-size*11 0 $colour,
    $pixel-size*5 $pixel-size*11 0 $colour,
    $pixel-size*9 $pixel-size*11 0 $colour,
    $pixel-size*10 $pixel-size*11 0 $colour,
    $pixel-size*14 $pixel-size*11 0 $colour,
    $pixel-size*15 $pixel-size*11 0 $colour,

    $pixel-size*0 $pixel-size*12 0 $colour,
    $pixel-size*1 $pixel-size*12 0 $colour,
    $pixel-size*5 $pixel-size*12 0 $colour,
    $pixel-size*9 $pixel-size*12 0 $colour,
    $pixel-size*10 $pixel-size*12 0 $colour,
    $pixel-size*14 $pixel-size*12 0 $colour,
    $pixel-size*15 $pixel-size*12 0 $colour,

    $pixel-size*0 $pixel-size*13 0 $colour,
    $pixel-size*1 $pixel-size*13 0 $colour,
    $pixel-size*5 $pixel-size*13 0 $colour,
    $pixel-size*9 $pixel-size*13 0 $colour,
    $pixel-size*10 $pixel-size*13 0 $colour,
    $pixel-size*14 $pixel-size*13 0 $colour,
    $pixel-size*15 $pixel-size*13 0 $colour,

    $pixel-size*0 $pixel-size*14 0 $colour,
    $pixel-size*1 $pixel-size*14 0 $colour,
    $pixel-size*2 $pixel-size*14 0 $colour,
    $pixel-size*3 $pixel-size*14 0 $colour,
    $pixel-size*4 $pixel-size*14 0 $colour,
    $pixel-size*5 $pixel-size*14 0 $colour,
    $pixel-size*6 $pixel-size*14 0 $colour,
    $pixel-size*7 $pixel-size*14 0 $colour,
    $pixel-size*8 $pixel-size*14 0 $colour,
    $pixel-size*9 $pixel-size*14 0 $colour,
    $pixel-size*10 $pixel-size*14 0 $colour,
    $pixel-size*11 $pixel-size*14 0 $colour,
    $pixel-size*12 $pixel-size*14 0 $colour,
    $pixel-size*13 $pixel-size*14 0 $colour,
    $pixel-size*14 $pixel-size*14 0 $colour,
    $pixel-size*15 $pixel-size*14 0 $colour,

    $pixel-size*1 $pixel-size*15 0 $colour,
    $pixel-size*2 $pixel-size*15 0 $colour,
    $pixel-size*3 $pixel-size*15 0 $colour,
    $pixel-size*4 $pixel-size*15 0 $colour,
    $pixel-size*5 $pixel-size*15 0 $colour,
    $pixel-size*6 $pixel-size*15 0 $colour,
    $pixel-size*7 $pixel-size*15 0 $colour,
    $pixel-size*8 $pixel-size*15 0 $colour,
    $pixel-size*9 $pixel-size*15 0 $colour,
    $pixel-size*10 $pixel-size*15 0 $colour,
    $pixel-size*11 $pixel-size*15 0 $colour,
    $pixel-size*12 $pixel-size*15 0 $colour,
    $pixel-size*13 $pixel-size*15 0 $colour,
    $pixel-size*14 $pixel-size*15 0 $colour;
}

@mixin github-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
  $pixel-size*5 0 0 $colour,
  $pixel-size*6 0 0 $colour,
  $pixel-size*7 0 0 $colour,
  $pixel-size*8 0 0 $colour,
  $pixel-size*9 0 0 $colour,
  $pixel-size*10 0 0 $colour,

  $pixel-size*3 $pixel-size*1 0 $colour,
  $pixel-size*4 $pixel-size*1 0 $colour,
  $pixel-size*5 $pixel-size*1 0 $colour,
  $pixel-size*6 $pixel-size*1 0 $colour,
  $pixel-size*7 $pixel-size*1 0 $colour,
  $pixel-size*8 $pixel-size*1 0 $colour,
  $pixel-size*9 $pixel-size*1 0 $colour,
  $pixel-size*10 $pixel-size*1 0 $colour,
  $pixel-size*11 $pixel-size*1 0 $colour,
  $pixel-size*12 $pixel-size*1 0 $colour,

  $pixel-size*2 $pixel-size*2 0 $colour,
  $pixel-size*3 $pixel-size*2 0 $colour,
  $pixel-size*4 $pixel-size*2 0 $colour,
  $pixel-size*5 $pixel-size*2 0 $colour,
  $pixel-size*6 $pixel-size*2 0 $colour,
  $pixel-size*7 $pixel-size*2 0 $colour,
  $pixel-size*8 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,
  $pixel-size*10 $pixel-size*2 0 $colour,
  $pixel-size*11 $pixel-size*2 0 $colour,
  $pixel-size*12 $pixel-size*2 0 $colour,
  $pixel-size*13 $pixel-size*2 0 $colour,

  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*2 $pixel-size*3 0 $colour,
  $pixel-size*3 $pixel-size*3 0 $colour,
  $pixel-size*5 $pixel-size*3 0 $colour,
  $pixel-size*6 $pixel-size*3 0 $colour,
  $pixel-size*7 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,
  $pixel-size*10 $pixel-size*3 0 $colour,
  $pixel-size*12 $pixel-size*3 0 $colour,
  $pixel-size*13 $pixel-size*3 0 $colour,
  $pixel-size*14 $pixel-size*3 0 $colour,

  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*3 $pixel-size*4 0 $colour,
  $pixel-size*6 $pixel-size*4 0 $colour,
  $pixel-size*7 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,
  $pixel-size*12 $pixel-size*4 0 $colour,
  $pixel-size*13 $pixel-size*4 0 $colour,
  $pixel-size*14 $pixel-size*4 0 $colour,

  $pixel-size*0 $pixel-size*5 0 $colour,
  $pixel-size*1 $pixel-size*5 0 $colour,
  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*12 $pixel-size*5 0 $colour,
  $pixel-size*13 $pixel-size*5 0 $colour,
  $pixel-size*14 $pixel-size*5 0 $colour,
  $pixel-size*15 $pixel-size*5 0 $colour,

  $pixel-size*0 $pixel-size*6 0 $colour,
  $pixel-size*1 $pixel-size*6 0 $colour,
  $pixel-size*2 $pixel-size*6 0 $colour,
  $pixel-size*13 $pixel-size*6 0 $colour,
  $pixel-size*14 $pixel-size*6 0 $colour,
  $pixel-size*15 $pixel-size*6 0 $colour,

  $pixel-size*0 $pixel-size*7 0 $colour,
  $pixel-size*1 $pixel-size*7 0 $colour,
  $pixel-size*2 $pixel-size*7 0 $colour,
  $pixel-size*13 $pixel-size*7 0 $colour,
  $pixel-size*14 $pixel-size*7 0 $colour,
  $pixel-size*15 $pixel-size*7 0 $colour,

  $pixel-size*0 $pixel-size*8 0 $colour,
  $pixel-size*1 $pixel-size*8 0 $colour,
  $pixel-size*2 $pixel-size*8 0 $colour,
  $pixel-size*13 $pixel-size*8 0 $colour,
  $pixel-size*14 $pixel-size*8 0 $colour,
  $pixel-size*15 $pixel-size*8 0 $colour,

  $pixel-size*0 $pixel-size*9 0 $colour,
  $pixel-size*2 $pixel-size*9 0 $colour,
  $pixel-size*3 $pixel-size*9 0 $colour,
  $pixel-size*12 $pixel-size*9 0 $colour,
  $pixel-size*13 $pixel-size*9 0 $colour,
  $pixel-size*14 $pixel-size*9 0 $colour,
  $pixel-size*15 $pixel-size*9 0 $colour,

  $pixel-size*0 $pixel-size*10 0 $colour,
  $pixel-size*1 $pixel-size*10 0 $colour,
  $pixel-size*3 $pixel-size*10 0 $colour,
  $pixel-size*4 $pixel-size*10 0 $colour,
  $pixel-size*11 $pixel-size*10 0 $colour,
  $pixel-size*12 $pixel-size*10 0 $colour,
  $pixel-size*13 $pixel-size*10 0 $colour,
  $pixel-size*14 $pixel-size*10 0 $colour,
  $pixel-size*15 $pixel-size*10 0 $colour,

  $pixel-size*1 $pixel-size*11 0 $colour,
  $pixel-size*4 $pixel-size*11 0 $colour,
  $pixel-size*5 $pixel-size*11 0 $colour,
  $pixel-size*10 $pixel-size*11 0 $colour,
  $pixel-size*11 $pixel-size*11 0 $colour,
  $pixel-size*12 $pixel-size*11 0 $colour,
  $pixel-size*13 $pixel-size*11 0 $colour,
  $pixel-size*14 $pixel-size*11 0 $colour,

  $pixel-size*1 $pixel-size*12 0 $colour,
  $pixel-size*2 $pixel-size*12 0 $colour,
  $pixel-size*11 $pixel-size*12 0 $colour,
  $pixel-size*12 $pixel-size*12 0 $colour,
  $pixel-size*13 $pixel-size*12 0 $colour,
  $pixel-size*14 $pixel-size*12 0 $colour,

  $pixel-size*2 $pixel-size*13 0 $colour,
  $pixel-size*3 $pixel-size*13 0 $colour,
  $pixel-size*4 $pixel-size*13 0 $colour,
  $pixel-size*11 $pixel-size*13 0 $colour,
  $pixel-size*12 $pixel-size*13 0 $colour,
  $pixel-size*13 $pixel-size*13 0 $colour,

  $pixel-size*3 $pixel-size*14 0 $colour,
  $pixel-size*4 $pixel-size*14 0 $colour,
  $pixel-size*11 $pixel-size*14 0 $colour,
  $pixel-size*12 $pixel-size*14 0 $colour,

  $pixel-size*4 $pixel-size*15 0 $colour,
  $pixel-size*11 $pixel-size*15 0 $colour;
}

@mixin heart ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  display: block;
  box-shadow:

  // Corners - X - Y

  // $pixel-size*1 $pixel-size*1 0 $colour,
  // $pixel-size*1 $pixel-size*8 0 $colour,

  $pixel-size*2 $pixel-size*1 0 $colour,
  $pixel-size*3 $pixel-size*1 0 $colour,
  $pixel-size*4 $pixel-size*1 0 $colour,
  $pixel-size*6 $pixel-size*1 0 $colour,
  $pixel-size*7 $pixel-size*1 0 $colour,
  $pixel-size*8 $pixel-size*1 0 $colour,

  $pixel-size*1 $pixel-size*2 0 $colour,
  $pixel-size*2 $pixel-size*2 0 $colour,
  $pixel-size*3 $pixel-size*2 0 $colour,
  $pixel-size*4 $pixel-size*2 0 $colour,
  $pixel-size*5 $pixel-size*2 0 $colour,
  $pixel-size*6 $pixel-size*2 0 $colour,
  $pixel-size*7 $pixel-size*2 0 $colour,
  $pixel-size*8 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,

  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*2 $pixel-size*3 0 $colour,
  $pixel-size*3 $pixel-size*3 0 $colour,
  $pixel-size*4 $pixel-size*3 0 $colour,
  $pixel-size*5 $pixel-size*3 0 $colour,
  $pixel-size*6 $pixel-size*3 0 $colour,
  $pixel-size*7 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,

  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*3 $pixel-size*4 0 $colour,
  $pixel-size*4 $pixel-size*4 0 $colour,
  $pixel-size*5 $pixel-size*4 0 $colour,
  $pixel-size*6 $pixel-size*4 0 $colour,
  $pixel-size*7 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,

  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*4 $pixel-size*5 0 $colour,
  $pixel-size*5 $pixel-size*5 0 $colour,
  $pixel-size*6 $pixel-size*5 0 $colour,
  $pixel-size*7 $pixel-size*5 0 $colour,
  $pixel-size*8 $pixel-size*5 0 $colour,

  $pixel-size*3 $pixel-size*6 0 $colour,
  $pixel-size*4 $pixel-size*6 0 $colour,
  $pixel-size*5 $pixel-size*6 0 $colour,
  $pixel-size*6 $pixel-size*6 0 $colour,
  $pixel-size*7 $pixel-size*6 0 $colour,

  $pixel-size*4 $pixel-size*7 0 $colour,
  $pixel-size*5 $pixel-size*7 0 $colour,
  $pixel-size*6 $pixel-size*7 0 $colour,

  $pixel-size*5 $pixel-size*8 0 $colour
  ;
  // $pixel-size*5 $pixel-size*9 0 $colour;
}
