@mixin superwide {
  @media screen and (min-width: $superwide) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}


@mixin twitter-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
  $pixel-size*12 0 0 $colour,

  $pixel-size*10 $pixel-size*1 0 $colour,
  $pixel-size*11 $pixel-size*1 0 $colour,

  $pixel-size*0 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,
  $pixel-size*10 $pixel-size*2 0 $colour,
  $pixel-size*11 $pixel-size*2 0 $colour,
  $pixel-size*12 $pixel-size*2 0 $colour,

  $pixel-size*0 $pixel-size*3 0 $colour,
  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,
  $pixel-size*10 $pixel-size*3 0 $colour,
  $pixel-size*11 $pixel-size*3 0 $colour,
  $pixel-size*12 $pixel-size*3 0 $colour,
  $pixel-size*13 $pixel-size*3 0 $colour,

  $pixel-size*0 $pixel-size*4 0 $colour,
  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,
  $pixel-size*10 $pixel-size*4 0 $colour,
  $pixel-size*11 $pixel-size*4 0 $colour,
  $pixel-size*12 $pixel-size*4 0 $colour,
  $pixel-size*13 $pixel-size*4 0 $colour,
  $pixel-size*14 $pixel-size*4 0 $colour,
  $pixel-size*15 $pixel-size*4 0 $colour,

  $pixel-size*1 $pixel-size*5 0 $colour,
  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*4 $pixel-size*5 0 $colour,
  $pixel-size*5 $pixel-size*5 0 $colour,
  $pixel-size*8 $pixel-size*5 0 $colour,
  $pixel-size*9 $pixel-size*5 0 $colour,
  $pixel-size*10 $pixel-size*5 0 $colour,
  $pixel-size*11 $pixel-size*5 0 $colour,
  $pixel-size*12 $pixel-size*5 0 $colour,
  $pixel-size*13 $pixel-size*5 0 $colour,
  $pixel-size*14 $pixel-size*5 0 $colour,

  $pixel-size*0 $pixel-size*6 0 $colour,
  $pixel-size*1 $pixel-size*6 0 $colour,
  $pixel-size*2 $pixel-size*6 0 $colour,
  $pixel-size*3 $pixel-size*6 0 $colour,
  $pixel-size*4 $pixel-size*6 0 $colour,
  $pixel-size*5 $pixel-size*6 0 $colour,
  $pixel-size*6 $pixel-size*6 0 $colour,
  $pixel-size*7 $pixel-size*6 0 $colour,
  $pixel-size*8 $pixel-size*6 0 $colour,
  $pixel-size*9 $pixel-size*6 0 $colour,
  $pixel-size*10 $pixel-size*6 0 $colour,
  $pixel-size*11 $pixel-size*6 0 $colour,
  $pixel-size*12 $pixel-size*6 0 $colour,
  $pixel-size*13 $pixel-size*6 0 $colour,

  $pixel-size*2 $pixel-size*7 0 $colour,
  $pixel-size*3 $pixel-size*7 0 $colour,
  $pixel-size*4 $pixel-size*7 0 $colour,
  $pixel-size*5 $pixel-size*7 0 $colour,
  $pixel-size*6 $pixel-size*7 0 $colour,
  $pixel-size*7 $pixel-size*7 0 $colour,
  $pixel-size*8 $pixel-size*7 0 $colour,
  $pixel-size*9 $pixel-size*7 0 $colour,
  $pixel-size*10 $pixel-size*7 0 $colour,
  $pixel-size*11 $pixel-size*7 0 $colour,
  $pixel-size*12 $pixel-size*7 0 $colour,
  $pixel-size*13 $pixel-size*7 0 $colour,

  $pixel-size*1 $pixel-size*8 0 $colour,
  $pixel-size*2 $pixel-size*8 0 $colour,
  $pixel-size*3 $pixel-size*8 0 $colour,
  $pixel-size*4 $pixel-size*8 0 $colour,
  $pixel-size*5 $pixel-size*8 0 $colour,
  $pixel-size*6 $pixel-size*8 0 $colour,
  $pixel-size*7 $pixel-size*8 0 $colour,
  $pixel-size*8 $pixel-size*8 0 $colour,
  $pixel-size*9 $pixel-size*8 0 $colour,
  $pixel-size*10 $pixel-size*8 0 $colour,
  $pixel-size*11 $pixel-size*8 0 $colour,
  $pixel-size*12 $pixel-size*8 0 $colour,
  $pixel-size*13 $pixel-size*8 0 $colour,

  $pixel-size*2 $pixel-size*9 0 $colour,
  $pixel-size*3 $pixel-size*9 0 $colour,
  $pixel-size*4 $pixel-size*9 0 $colour,
  $pixel-size*5 $pixel-size*9 0 $colour,
  $pixel-size*6 $pixel-size*9 0 $colour,
  $pixel-size*7 $pixel-size*9 0 $colour,
  $pixel-size*8 $pixel-size*9 0 $colour,
  $pixel-size*9 $pixel-size*9 0 $colour,
  $pixel-size*10 $pixel-size*9 0 $colour,
  $pixel-size*11 $pixel-size*9 0 $colour,
  $pixel-size*12 $pixel-size*9 0 $colour,
  $pixel-size*13 $pixel-size*9 0 $colour,

  $pixel-size*3 $pixel-size*10 0 $colour,
  $pixel-size*4 $pixel-size*10 0 $colour,
  $pixel-size*5 $pixel-size*10 0 $colour,
  $pixel-size*6 $pixel-size*10 0 $colour,
  $pixel-size*7 $pixel-size*10 0 $colour,
  $pixel-size*8 $pixel-size*10 0 $colour,
  $pixel-size*9 $pixel-size*10 0 $colour,
  $pixel-size*10 $pixel-size*10 0 $colour,
  $pixel-size*11 $pixel-size*10 0 $colour,
  $pixel-size*12 $pixel-size*10 0 $colour,

  $pixel-size*4 $pixel-size*11 0 $colour,
  $pixel-size*5 $pixel-size*11 0 $colour,
  $pixel-size*6 $pixel-size*11 0 $colour,
  $pixel-size*7 $pixel-size*11 0 $colour,
  $pixel-size*8 $pixel-size*11 0 $colour,
  $pixel-size*9 $pixel-size*11 0 $colour,
  $pixel-size*10 $pixel-size*11 0 $colour,
  $pixel-size*11 $pixel-size*11 0 $colour,
  $pixel-size*12 $pixel-size*11 0 $colour,

  $pixel-size*5 $pixel-size*12 0 $colour,
  $pixel-size*6 $pixel-size*12 0 $colour,
  $pixel-size*7 $pixel-size*12 0 $colour,
  $pixel-size*8 $pixel-size*12 0 $colour,
  $pixel-size*9 $pixel-size*12 0 $colour,
  $pixel-size*10 $pixel-size*12 0 $colour,
  $pixel-size*11 $pixel-size*12 0 $colour,

  $pixel-size*3 $pixel-size*13 0 $colour,
  $pixel-size*4 $pixel-size*13 0 $colour,
  $pixel-size*5 $pixel-size*13 0 $colour,
  $pixel-size*6 $pixel-size*13 0 $colour,
  $pixel-size*7 $pixel-size*13 0 $colour,
  $pixel-size*8 $pixel-size*13 0 $colour,
  $pixel-size*9 $pixel-size*13 0 $colour,

  $pixel-size*1 $pixel-size*14 0 $colour,
  $pixel-size*2 $pixel-size*14 0 $colour,
  $pixel-size*3 $pixel-size*14 0 $colour,
  $pixel-size*4 $pixel-size*14 0 $colour,
  $pixel-size*5 $pixel-size*14 0 $colour,
  $pixel-size*6 $pixel-size*14 0 $colour;
}

@mixin linkedin-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
    $pixel-size*1 0 0 $colour,
    $pixel-size*2 0 0 $colour,
    $pixel-size*3 0 0 $colour,
    $pixel-size*4 0 0 $colour,
    $pixel-size*5 0 0 $colour,
    $pixel-size*6 0 0 $colour,
    $pixel-size*7 0 0 $colour,
    $pixel-size*8 0 0 $colour,
    $pixel-size*9 0 0 $colour,
    $pixel-size*10 0 0 $colour,
    $pixel-size*11 0 0 $colour,
    $pixel-size*12 0 0 $colour,
    $pixel-size*13 0 0 $colour,
    $pixel-size*14 0 0 $colour,

    $pixel-size*0 $pixel-size*1 0 $colour,
    $pixel-size*1 $pixel-size*1 0 $colour,
    $pixel-size*2 $pixel-size*1 0 $colour,
    $pixel-size*3 $pixel-size*1 0 $colour,
    $pixel-size*4 $pixel-size*1 0 $colour,
    $pixel-size*5 $pixel-size*1 0 $colour,
    $pixel-size*6 $pixel-size*1 0 $colour,
    $pixel-size*7 $pixel-size*1 0 $colour,
    $pixel-size*8 $pixel-size*1 0 $colour,
    $pixel-size*9 $pixel-size*1 0 $colour,
    $pixel-size*10 $pixel-size*1 0 $colour,
    $pixel-size*11 $pixel-size*1 0 $colour,
    $pixel-size*12 $pixel-size*1 0 $colour,
    $pixel-size*13 $pixel-size*1 0 $colour,
    $pixel-size*14 $pixel-size*1 0 $colour,
    $pixel-size*15 $pixel-size*1 0 $colour,

    $pixel-size*0 $pixel-size*2 0 $colour,
    $pixel-size*1 $pixel-size*2 0 $colour,
    $pixel-size*5 $pixel-size*2 0 $colour,
    $pixel-size*6 $pixel-size*2 0 $colour,
    $pixel-size*7 $pixel-size*2 0 $colour,
    $pixel-size*8 $pixel-size*2 0 $colour,
    $pixel-size*9 $pixel-size*2 0 $colour,
    $pixel-size*10 $pixel-size*2 0 $colour,
    $pixel-size*11 $pixel-size*2 0 $colour,
    $pixel-size*12 $pixel-size*2 0 $colour,
    $pixel-size*13 $pixel-size*2 0 $colour,
    $pixel-size*14 $pixel-size*2 0 $colour,
    $pixel-size*15 $pixel-size*2 0 $colour,

    $pixel-size*0 $pixel-size*3 0 $colour,
    $pixel-size*1 $pixel-size*3 0 $colour,
    $pixel-size*5 $pixel-size*3 0 $colour,
    $pixel-size*6 $pixel-size*3 0 $colour,
    $pixel-size*7 $pixel-size*3 0 $colour,
    $pixel-size*8 $pixel-size*3 0 $colour,
    $pixel-size*9 $pixel-size*3 0 $colour,
    $pixel-size*10 $pixel-size*3 0 $colour,
    $pixel-size*11 $pixel-size*3 0 $colour,
    $pixel-size*12 $pixel-size*3 0 $colour,
    $pixel-size*13 $pixel-size*3 0 $colour,
    $pixel-size*14 $pixel-size*3 0 $colour,
    $pixel-size*15 $pixel-size*3 0 $colour,

    $pixel-size*0 $pixel-size*4 0 $colour,
    $pixel-size*1 $pixel-size*4 0 $colour,
    $pixel-size*5 $pixel-size*4 0 $colour,
    $pixel-size*6 $pixel-size*4 0 $colour,
    $pixel-size*7 $pixel-size*4 0 $colour,
    $pixel-size*8 $pixel-size*4 0 $colour,
    $pixel-size*9 $pixel-size*4 0 $colour,
    $pixel-size*10 $pixel-size*4 0 $colour,
    $pixel-size*11 $pixel-size*4 0 $colour,
    $pixel-size*12 $pixel-size*4 0 $colour,
    $pixel-size*13 $pixel-size*4 0 $colour,
    $pixel-size*14 $pixel-size*4 0 $colour,
    $pixel-size*15 $pixel-size*4 0 $colour,

    $pixel-size*0 $pixel-size*5 0 $colour,
    $pixel-size*1 $pixel-size*5 0 $colour,
    $pixel-size*2 $pixel-size*5 0 $colour,
    $pixel-size*3 $pixel-size*5 0 $colour,
    $pixel-size*4 $pixel-size*5 0 $colour,
    $pixel-size*5 $pixel-size*5 0 $colour,
    $pixel-size*6 $pixel-size*5 0 $colour,
    $pixel-size*7 $pixel-size*5 0 $colour,
    $pixel-size*8 $pixel-size*5 0 $colour,
    $pixel-size*9 $pixel-size*5 0 $colour,
    $pixel-size*10 $pixel-size*5 0 $colour,
    $pixel-size*11 $pixel-size*5 0 $colour,
    $pixel-size*12 $pixel-size*5 0 $colour,
    $pixel-size*13 $pixel-size*5 0 $colour,
    $pixel-size*14 $pixel-size*5 0 $colour,
    $pixel-size*15 $pixel-size*5 0 $colour,

    $pixel-size*0 $pixel-size*6 0 $colour,
    $pixel-size*1 $pixel-size*6 0 $colour,
    $pixel-size*5 $pixel-size*6 0 $colour,
    $pixel-size*9 $pixel-size*6 0 $colour,
    $pixel-size*13 $pixel-size*6 0 $colour,
    $pixel-size*14 $pixel-size*6 0 $colour,
    $pixel-size*15 $pixel-size*6 0 $colour,

    $pixel-size*0 $pixel-size*7 0 $colour,
    $pixel-size*1 $pixel-size*7 0 $colour,
    $pixel-size*5 $pixel-size*7 0 $colour,
    $pixel-size*14 $pixel-size*7 0 $colour,
    $pixel-size*15 $pixel-size*7 0 $colour,

    $pixel-size*0 $pixel-size*8 0 $colour,
    $pixel-size*1 $pixel-size*8 0 $colour,
    $pixel-size*5 $pixel-size*8 0 $colour,
    $pixel-size*10 $pixel-size*8 0 $colour,
    $pixel-size*14 $pixel-size*8 0 $colour,
    $pixel-size*15 $pixel-size*8 0 $colour,

    $pixel-size*0 $pixel-size*9 0 $colour,
    $pixel-size*1 $pixel-size*9 0 $colour,
    $pixel-size*5 $pixel-size*9 0 $colour,
    $pixel-size*9 $pixel-size*9 0 $colour,
    $pixel-size*10 $pixel-size*9 0 $colour,
    $pixel-size*14 $pixel-size*9 0 $colour,
    $pixel-size*15 $pixel-size*9 0 $colour,

    $pixel-size*0 $pixel-size*10 0 $colour,
    $pixel-size*1 $pixel-size*10 0 $colour,
    $pixel-size*5 $pixel-size*10 0 $colour,
    $pixel-size*9 $pixel-size*10 0 $colour,
    $pixel-size*10 $pixel-size*10 0 $colour,
    $pixel-size*14 $pixel-size*10 0 $colour,
    $pixel-size*15 $pixel-size*10 0 $colour,

    $pixel-size*0 $pixel-size*11 0 $colour,
    $pixel-size*1 $pixel-size*11 0 $colour,
    $pixel-size*5 $pixel-size*11 0 $colour,
    $pixel-size*9 $pixel-size*11 0 $colour,
    $pixel-size*10 $pixel-size*11 0 $colour,
    $pixel-size*14 $pixel-size*11 0 $colour,
    $pixel-size*15 $pixel-size*11 0 $colour,

    $pixel-size*0 $pixel-size*12 0 $colour,
    $pixel-size*1 $pixel-size*12 0 $colour,
    $pixel-size*5 $pixel-size*12 0 $colour,
    $pixel-size*9 $pixel-size*12 0 $colour,
    $pixel-size*10 $pixel-size*12 0 $colour,
    $pixel-size*14 $pixel-size*12 0 $colour,
    $pixel-size*15 $pixel-size*12 0 $colour,

    $pixel-size*0 $pixel-size*13 0 $colour,
    $pixel-size*1 $pixel-size*13 0 $colour,
    $pixel-size*5 $pixel-size*13 0 $colour,
    $pixel-size*9 $pixel-size*13 0 $colour,
    $pixel-size*10 $pixel-size*13 0 $colour,
    $pixel-size*14 $pixel-size*13 0 $colour,
    $pixel-size*15 $pixel-size*13 0 $colour,

    $pixel-size*0 $pixel-size*14 0 $colour,
    $pixel-size*1 $pixel-size*14 0 $colour,
    $pixel-size*2 $pixel-size*14 0 $colour,
    $pixel-size*3 $pixel-size*14 0 $colour,
    $pixel-size*4 $pixel-size*14 0 $colour,
    $pixel-size*5 $pixel-size*14 0 $colour,
    $pixel-size*6 $pixel-size*14 0 $colour,
    $pixel-size*7 $pixel-size*14 0 $colour,
    $pixel-size*8 $pixel-size*14 0 $colour,
    $pixel-size*9 $pixel-size*14 0 $colour,
    $pixel-size*10 $pixel-size*14 0 $colour,
    $pixel-size*11 $pixel-size*14 0 $colour,
    $pixel-size*12 $pixel-size*14 0 $colour,
    $pixel-size*13 $pixel-size*14 0 $colour,
    $pixel-size*14 $pixel-size*14 0 $colour,
    $pixel-size*15 $pixel-size*14 0 $colour,

    $pixel-size*1 $pixel-size*15 0 $colour,
    $pixel-size*2 $pixel-size*15 0 $colour,
    $pixel-size*3 $pixel-size*15 0 $colour,
    $pixel-size*4 $pixel-size*15 0 $colour,
    $pixel-size*5 $pixel-size*15 0 $colour,
    $pixel-size*6 $pixel-size*15 0 $colour,
    $pixel-size*7 $pixel-size*15 0 $colour,
    $pixel-size*8 $pixel-size*15 0 $colour,
    $pixel-size*9 $pixel-size*15 0 $colour,
    $pixel-size*10 $pixel-size*15 0 $colour,
    $pixel-size*11 $pixel-size*15 0 $colour,
    $pixel-size*12 $pixel-size*15 0 $colour,
    $pixel-size*13 $pixel-size*15 0 $colour,
    $pixel-size*14 $pixel-size*15 0 $colour;
}

@mixin github-icon ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
  $pixel-size*5 0 0 $colour,
  $pixel-size*6 0 0 $colour,
  $pixel-size*7 0 0 $colour,
  $pixel-size*8 0 0 $colour,
  $pixel-size*9 0 0 $colour,
  $pixel-size*10 0 0 $colour,

  $pixel-size*3 $pixel-size*1 0 $colour,
  $pixel-size*4 $pixel-size*1 0 $colour,
  $pixel-size*5 $pixel-size*1 0 $colour,
  $pixel-size*6 $pixel-size*1 0 $colour,
  $pixel-size*7 $pixel-size*1 0 $colour,
  $pixel-size*8 $pixel-size*1 0 $colour,
  $pixel-size*9 $pixel-size*1 0 $colour,
  $pixel-size*10 $pixel-size*1 0 $colour,
  $pixel-size*11 $pixel-size*1 0 $colour,
  $pixel-size*12 $pixel-size*1 0 $colour,

  $pixel-size*2 $pixel-size*2 0 $colour,
  $pixel-size*3 $pixel-size*2 0 $colour,
  $pixel-size*4 $pixel-size*2 0 $colour,
  $pixel-size*5 $pixel-size*2 0 $colour,
  $pixel-size*6 $pixel-size*2 0 $colour,
  $pixel-size*7 $pixel-size*2 0 $colour,
  $pixel-size*8 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,
  $pixel-size*10 $pixel-size*2 0 $colour,
  $pixel-size*11 $pixel-size*2 0 $colour,
  $pixel-size*12 $pixel-size*2 0 $colour,
  $pixel-size*13 $pixel-size*2 0 $colour,

  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*2 $pixel-size*3 0 $colour,
  $pixel-size*3 $pixel-size*3 0 $colour,
  $pixel-size*5 $pixel-size*3 0 $colour,
  $pixel-size*6 $pixel-size*3 0 $colour,
  $pixel-size*7 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,
  $pixel-size*10 $pixel-size*3 0 $colour,
  $pixel-size*12 $pixel-size*3 0 $colour,
  $pixel-size*13 $pixel-size*3 0 $colour,
  $pixel-size*14 $pixel-size*3 0 $colour,

  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*3 $pixel-size*4 0 $colour,
  $pixel-size*6 $pixel-size*4 0 $colour,
  $pixel-size*7 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,
  $pixel-size*12 $pixel-size*4 0 $colour,
  $pixel-size*13 $pixel-size*4 0 $colour,
  $pixel-size*14 $pixel-size*4 0 $colour,

  $pixel-size*0 $pixel-size*5 0 $colour,
  $pixel-size*1 $pixel-size*5 0 $colour,
  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*12 $pixel-size*5 0 $colour,
  $pixel-size*13 $pixel-size*5 0 $colour,
  $pixel-size*14 $pixel-size*5 0 $colour,
  $pixel-size*15 $pixel-size*5 0 $colour,

  $pixel-size*0 $pixel-size*6 0 $colour,
  $pixel-size*1 $pixel-size*6 0 $colour,
  $pixel-size*2 $pixel-size*6 0 $colour,
  $pixel-size*13 $pixel-size*6 0 $colour,
  $pixel-size*14 $pixel-size*6 0 $colour,
  $pixel-size*15 $pixel-size*6 0 $colour,

  $pixel-size*0 $pixel-size*7 0 $colour,
  $pixel-size*1 $pixel-size*7 0 $colour,
  $pixel-size*2 $pixel-size*7 0 $colour,
  $pixel-size*13 $pixel-size*7 0 $colour,
  $pixel-size*14 $pixel-size*7 0 $colour,
  $pixel-size*15 $pixel-size*7 0 $colour,

  $pixel-size*0 $pixel-size*8 0 $colour,
  $pixel-size*1 $pixel-size*8 0 $colour,
  $pixel-size*2 $pixel-size*8 0 $colour,
  $pixel-size*13 $pixel-size*8 0 $colour,
  $pixel-size*14 $pixel-size*8 0 $colour,
  $pixel-size*15 $pixel-size*8 0 $colour,

  $pixel-size*0 $pixel-size*9 0 $colour,
  $pixel-size*2 $pixel-size*9 0 $colour,
  $pixel-size*3 $pixel-size*9 0 $colour,
  $pixel-size*12 $pixel-size*9 0 $colour,
  $pixel-size*13 $pixel-size*9 0 $colour,
  $pixel-size*14 $pixel-size*9 0 $colour,
  $pixel-size*15 $pixel-size*9 0 $colour,

  $pixel-size*0 $pixel-size*10 0 $colour,
  $pixel-size*1 $pixel-size*10 0 $colour,
  $pixel-size*3 $pixel-size*10 0 $colour,
  $pixel-size*4 $pixel-size*10 0 $colour,
  $pixel-size*11 $pixel-size*10 0 $colour,
  $pixel-size*12 $pixel-size*10 0 $colour,
  $pixel-size*13 $pixel-size*10 0 $colour,
  $pixel-size*14 $pixel-size*10 0 $colour,
  $pixel-size*15 $pixel-size*10 0 $colour,

  $pixel-size*1 $pixel-size*11 0 $colour,
  $pixel-size*4 $pixel-size*11 0 $colour,
  $pixel-size*5 $pixel-size*11 0 $colour,
  $pixel-size*10 $pixel-size*11 0 $colour,
  $pixel-size*11 $pixel-size*11 0 $colour,
  $pixel-size*12 $pixel-size*11 0 $colour,
  $pixel-size*13 $pixel-size*11 0 $colour,
  $pixel-size*14 $pixel-size*11 0 $colour,

  $pixel-size*1 $pixel-size*12 0 $colour,
  $pixel-size*2 $pixel-size*12 0 $colour,
  $pixel-size*11 $pixel-size*12 0 $colour,
  $pixel-size*12 $pixel-size*12 0 $colour,
  $pixel-size*13 $pixel-size*12 0 $colour,
  $pixel-size*14 $pixel-size*12 0 $colour,

  $pixel-size*2 $pixel-size*13 0 $colour,
  $pixel-size*3 $pixel-size*13 0 $colour,
  $pixel-size*4 $pixel-size*13 0 $colour,
  $pixel-size*11 $pixel-size*13 0 $colour,
  $pixel-size*12 $pixel-size*13 0 $colour,
  $pixel-size*13 $pixel-size*13 0 $colour,

  $pixel-size*3 $pixel-size*14 0 $colour,
  $pixel-size*4 $pixel-size*14 0 $colour,
  $pixel-size*11 $pixel-size*14 0 $colour,
  $pixel-size*12 $pixel-size*14 0 $colour,

  $pixel-size*4 $pixel-size*15 0 $colour,
  $pixel-size*11 $pixel-size*15 0 $colour;
}

@mixin blinkingcursor ($colour) {
  .blinking-cursor {
    width: 10px;
    height: 100%;
    font-family: monospace;
    display: inline-block;

    &.show {
      background-color: $colour;
    }
  }
}

@mixin coffee-mug ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:

  // Corners
  // $pixel-size*1 0 0 $colour,
  // $pixel-size*32 0 0 $colour,

  // Shteeam
  $pixel-size*12 $pixel-size*0 0 $colour,
  $pixel-size*13 $pixel-size*1 0 $colour,
  $pixel-size*13 $pixel-size*2 0 $colour,
  $pixel-size*14 $pixel-size*2 0 $colour,
  $pixel-size*15 $pixel-size*2 0 $colour,
  $pixel-size*14 $pixel-size*3 0 $colour,
  $pixel-size*15 $pixel-size*3 0 $colour,
  $pixel-size*16 $pixel-size*3 0 $colour,
  $pixel-size*15 $pixel-size*4 0 $colour,
  $pixel-size*16 $pixel-size*4 0 $colour,
  $pixel-size*14 $pixel-size*5 0 $colour,
  $pixel-size*15 $pixel-size*5 0 $colour,
  $pixel-size*16 $pixel-size*5 0 $colour,
  $pixel-size*14 $pixel-size*6 0 $colour,
  $pixel-size*15 $pixel-size*6 0 $colour,
  $pixel-size*13 $pixel-size*7 0 $colour,
  $pixel-size*14 $pixel-size*7 0 $colour,
  $pixel-size*13 $pixel-size*8 0 $colour,

  $pixel-size*19 $pixel-size*0 0 $colour,
  $pixel-size*20 $pixel-size*1 0 $colour,
  $pixel-size*20 $pixel-size*2 0 $colour,
  $pixel-size*21 $pixel-size*2 0 $colour,
  $pixel-size*22 $pixel-size*2 0 $colour,
  $pixel-size*21 $pixel-size*3 0 $colour,
  $pixel-size*22 $pixel-size*3 0 $colour,
  $pixel-size*23 $pixel-size*3 0 $colour,
  $pixel-size*22 $pixel-size*4 0 $colour,
  $pixel-size*23 $pixel-size*4 0 $colour,
  $pixel-size*21 $pixel-size*5 0 $colour,
  $pixel-size*22 $pixel-size*5 0 $colour,
  $pixel-size*23 $pixel-size*5 0 $colour,
  $pixel-size*21 $pixel-size*6 0 $colour,
  $pixel-size*22 $pixel-size*6 0 $colour,
  $pixel-size*20 $pixel-size*7 0 $colour,
  $pixel-size*21 $pixel-size*7 0 $colour,
  $pixel-size*20 $pixel-size*8 0 $colour,

  $pixel-size*26 $pixel-size*0 0 $colour,
  $pixel-size*27 $pixel-size*1 0 $colour,
  $pixel-size*27 $pixel-size*2 0 $colour,
  $pixel-size*28 $pixel-size*2 0 $colour,
  $pixel-size*29 $pixel-size*2 0 $colour,
  $pixel-size*28 $pixel-size*3 0 $colour,
  $pixel-size*29 $pixel-size*3 0 $colour,
  $pixel-size*30 $pixel-size*3 0 $colour,
  $pixel-size*29 $pixel-size*4 0 $colour,
  $pixel-size*30 $pixel-size*4 0 $colour,
  $pixel-size*28 $pixel-size*5 0 $colour,
  $pixel-size*29 $pixel-size*5 0 $colour,
  $pixel-size*30 $pixel-size*5 0 $colour,
  $pixel-size*28 $pixel-size*6 0 $colour,
  $pixel-size*29 $pixel-size*6 0 $colour,
  $pixel-size*27 $pixel-size*7 0 $colour,
  $pixel-size*28 $pixel-size*7 0 $colour,
  $pixel-size*27 $pixel-size*8 0 $colour,



  // Handle
  // > top
  $pixel-size*0 $pixel-size*18 0 $colour,
  $pixel-size*0 $pixel-size*19 0 $colour,
  $pixel-size*0 $pixel-size*20 0 $colour,
  $pixel-size*0 $pixel-size*21 0 $colour,
  $pixel-size*0 $pixel-size*22 0 $colour,
  $pixel-size*1 $pixel-size*17 0 $colour,
  $pixel-size*1 $pixel-size*18 0 $colour,
  $pixel-size*1 $pixel-size*19 0 $colour,
  $pixel-size*1 $pixel-size*20 0 $colour,
  $pixel-size*1 $pixel-size*21 0 $colour,
  $pixel-size*1 $pixel-size*22 0 $colour,
  $pixel-size*2 $pixel-size*16 0 $colour,
  $pixel-size*2 $pixel-size*17 0 $colour,
  $pixel-size*2 $pixel-size*18 0 $colour,
  $pixel-size*2 $pixel-size*19 0 $colour,
  $pixel-size*2 $pixel-size*20 0 $colour,
  $pixel-size*2 $pixel-size*21 0 $colour,
  $pixel-size*2 $pixel-size*22 0 $colour,
  $pixel-size*3 $pixel-size*15 0 $colour,
  $pixel-size*3 $pixel-size*16 0 $colour,
  $pixel-size*3 $pixel-size*17 0 $colour,
  $pixel-size*3 $pixel-size*18 0 $colour,
  $pixel-size*4 $pixel-size*15 0 $colour,
  $pixel-size*4 $pixel-size*16 0 $colour,
  $pixel-size*4 $pixel-size*17 0 $colour,
  $pixel-size*5 $pixel-size*14 0 $colour,
  $pixel-size*5 $pixel-size*15 0 $colour,
  $pixel-size*5 $pixel-size*16 0 $colour,
  $pixel-size*6 $pixel-size*14 0 $colour,
  $pixel-size*6 $pixel-size*15 0 $colour,
  $pixel-size*6 $pixel-size*16 0 $colour,
  $pixel-size*7 $pixel-size*14 0 $colour,
  $pixel-size*7 $pixel-size*15 0 $colour,
  $pixel-size*7 $pixel-size*16 0 $colour,
  $pixel-size*8 $pixel-size*14 0 $colour,
  $pixel-size*8 $pixel-size*15 0 $colour,
  $pixel-size*8 $pixel-size*16 0 $colour,
  $pixel-size*9 $pixel-size*15 0 $colour,
  $pixel-size*9 $pixel-size*16 0 $colour,
  $pixel-size*9 $pixel-size*17 0 $colour,

  // > bottom
  $pixel-size*0 $pixel-size*23 0 $colour,
  $pixel-size*0 $pixel-size*24 0 $colour,
  $pixel-size*0 $pixel-size*25 0 $colour,
  $pixel-size*1 $pixel-size*17 0 $colour,
  $pixel-size*1 $pixel-size*18 0 $colour,
  $pixel-size*1 $pixel-size*19 0 $colour,
  $pixel-size*1 $pixel-size*22 0 $colour,
  $pixel-size*1 $pixel-size*23 0 $colour,
  $pixel-size*1 $pixel-size*24 0 $colour,
  $pixel-size*1 $pixel-size*25 0 $colour,
  $pixel-size*1 $pixel-size*26 0 $colour,
  $pixel-size*2 $pixel-size*22 0 $colour,
  $pixel-size*2 $pixel-size*23 0 $colour,
  $pixel-size*2 $pixel-size*24 0 $colour,
  $pixel-size*2 $pixel-size*25 0 $colour,
  $pixel-size*2 $pixel-size*26 0 $colour,
  $pixel-size*2 $pixel-size*27 0 $colour,

  $pixel-size*3 $pixel-size*25 0 $colour,
  $pixel-size*3 $pixel-size*26 0 $colour,
  $pixel-size*3 $pixel-size*27 0 $colour,
  $pixel-size*3 $pixel-size*28 0 $colour,

  $pixel-size*4 $pixel-size*26 0 $colour,
  $pixel-size*4 $pixel-size*27 0 $colour,
  $pixel-size*4 $pixel-size*28 0 $colour,

  $pixel-size*5 $pixel-size*27 0 $colour,
  $pixel-size*5 $pixel-size*28 0 $colour,
  $pixel-size*5 $pixel-size*29 0 $colour,
  $pixel-size*6 $pixel-size*27 0 $colour,
  $pixel-size*6 $pixel-size*28 0 $colour,
  $pixel-size*6 $pixel-size*29 0 $colour,
  $pixel-size*7 $pixel-size*27 0 $colour,
  $pixel-size*7 $pixel-size*28 0 $colour,
  $pixel-size*7 $pixel-size*29 0 $colour,
  $pixel-size*8 $pixel-size*27 0 $colour,
  $pixel-size*8 $pixel-size*28 0 $colour,
  $pixel-size*8 $pixel-size*29 0 $colour,
  $pixel-size*9 $pixel-size*26 0 $colour,
  $pixel-size*9 $pixel-size*27 0 $colour,
  $pixel-size*9 $pixel-size*28 0 $colour,

  // Mug
  $pixel-size*10 $pixel-size*10 0 $colour,
  $pixel-size*11 $pixel-size*10 0 $colour,
  $pixel-size*12 $pixel-size*10 0 $colour,
  $pixel-size*13 $pixel-size*10 0 $colour,
  $pixel-size*14 $pixel-size*10 0 $colour,
  $pixel-size*15 $pixel-size*10 0 $colour,
  $pixel-size*16 $pixel-size*10 0 $colour,
  $pixel-size*17 $pixel-size*10 0 $colour,
  $pixel-size*18 $pixel-size*10 0 $colour,
  $pixel-size*19 $pixel-size*10 0 $colour,
  $pixel-size*20 $pixel-size*10 0 $colour,
  $pixel-size*21 $pixel-size*10 0 $colour,
  $pixel-size*22 $pixel-size*10 0 $colour,
  $pixel-size*23 $pixel-size*10 0 $colour,
  $pixel-size*24 $pixel-size*10 0 $colour,
  $pixel-size*25 $pixel-size*10 0 $colour,
  $pixel-size*26 $pixel-size*10 0 $colour,
  $pixel-size*27 $pixel-size*10 0 $colour,
  $pixel-size*28 $pixel-size*10 0 $colour,
  $pixel-size*29 $pixel-size*10 0 $colour,
  $pixel-size*30 $pixel-size*10 0 $colour,
  $pixel-size*31 $pixel-size*10 0 $colour,
  $pixel-size*32 $pixel-size*10 0 $colour,

  $pixel-size*10 $pixel-size*11 0 $colour,
  $pixel-size*11 $pixel-size*11 0 $colour,
  $pixel-size*12 $pixel-size*11 0 $colour,
  $pixel-size*13 $pixel-size*11 0 $colour,
  $pixel-size*14 $pixel-size*11 0 $colour,
  $pixel-size*15 $pixel-size*11 0 $colour,
  $pixel-size*16 $pixel-size*11 0 $colour,
  $pixel-size*17 $pixel-size*11 0 $colour,
  $pixel-size*18 $pixel-size*11 0 $colour,
  $pixel-size*19 $pixel-size*11 0 $colour,
  $pixel-size*20 $pixel-size*11 0 $colour,
  $pixel-size*21 $pixel-size*11 0 $colour,
  $pixel-size*22 $pixel-size*11 0 $colour,
  $pixel-size*23 $pixel-size*11 0 $colour,
  $pixel-size*24 $pixel-size*11 0 $colour,
  $pixel-size*25 $pixel-size*11 0 $colour,
  $pixel-size*26 $pixel-size*11 0 $colour,
  $pixel-size*27 $pixel-size*11 0 $colour,
  // $pixel-size*28 $pixel-size*11 0 $colour,
  // $pixel-size*29 $pixel-size*11 0 $colour,
  $pixel-size*30 $pixel-size*11 0 $colour,
  $pixel-size*31 $pixel-size*11 0 $colour,
  $pixel-size*32 $pixel-size*11 0 $colour,

  $pixel-size*10 $pixel-size*12 0 $colour,
  $pixel-size*11 $pixel-size*12 0 $colour,
  $pixel-size*12 $pixel-size*12 0 $colour,
  $pixel-size*13 $pixel-size*12 0 $colour,
  $pixel-size*14 $pixel-size*12 0 $colour,
  $pixel-size*15 $pixel-size*12 0 $colour,
  $pixel-size*16 $pixel-size*12 0 $colour,
  $pixel-size*17 $pixel-size*12 0 $colour,
  $pixel-size*18 $pixel-size*12 0 $colour,
  $pixel-size*19 $pixel-size*12 0 $colour,
  $pixel-size*20 $pixel-size*12 0 $colour,
  $pixel-size*21 $pixel-size*12 0 $colour,
  $pixel-size*22 $pixel-size*12 0 $colour,
  $pixel-size*23 $pixel-size*12 0 $colour,
  $pixel-size*24 $pixel-size*12 0 $colour,
  $pixel-size*25 $pixel-size*12 0 $colour,
  $pixel-size*26 $pixel-size*12 0 $colour,
  $pixel-size*27 $pixel-size*12 0 $colour,
  // $pixel-size*28 $pixel-size*12 0 $colour,
  // $pixel-size*29 $pixel-size*12 0 $colour,
  $pixel-size*30 $pixel-size*12 0 $colour,
  $pixel-size*31 $pixel-size*12 0 $colour,
  $pixel-size*32 $pixel-size*12 0 $colour,

  $pixel-size*10 $pixel-size*13 0 $colour,
  $pixel-size*11 $pixel-size*13 0 $colour,
  $pixel-size*12 $pixel-size*13 0 $colour,
  $pixel-size*13 $pixel-size*13 0 $colour,
  $pixel-size*14 $pixel-size*13 0 $colour,
  $pixel-size*15 $pixel-size*13 0 $colour,
  $pixel-size*16 $pixel-size*13 0 $colour,
  $pixel-size*17 $pixel-size*13 0 $colour,
  $pixel-size*18 $pixel-size*13 0 $colour,
  $pixel-size*19 $pixel-size*13 0 $colour,
  $pixel-size*20 $pixel-size*13 0 $colour,
  $pixel-size*21 $pixel-size*13 0 $colour,
  $pixel-size*22 $pixel-size*13 0 $colour,
  $pixel-size*23 $pixel-size*13 0 $colour,
  $pixel-size*24 $pixel-size*13 0 $colour,
  $pixel-size*25 $pixel-size*13 0 $colour,
  $pixel-size*26 $pixel-size*13 0 $colour,
  $pixel-size*27 $pixel-size*13 0 $colour,
  // $pixel-size*28 $pixel-size*13 0 $colour,
  // $pixel-size*29 $pixel-size*13 0 $colour,
  $pixel-size*30 $pixel-size*13 0 $colour,
  $pixel-size*31 $pixel-size*13 0 $colour,
  $pixel-size*32 $pixel-size*13 0 $colour,

  $pixel-size*10 $pixel-size*14 0 $colour,
  $pixel-size*11 $pixel-size*14 0 $colour,
  $pixel-size*12 $pixel-size*14 0 $colour,
  $pixel-size*13 $pixel-size*14 0 $colour,
  $pixel-size*14 $pixel-size*14 0 $colour,
  $pixel-size*15 $pixel-size*14 0 $colour,
  $pixel-size*16 $pixel-size*14 0 $colour,
  $pixel-size*17 $pixel-size*14 0 $colour,
  $pixel-size*18 $pixel-size*14 0 $colour,
  $pixel-size*19 $pixel-size*14 0 $colour,
  $pixel-size*20 $pixel-size*14 0 $colour,
  $pixel-size*21 $pixel-size*14 0 $colour,
  $pixel-size*22 $pixel-size*14 0 $colour,
  $pixel-size*23 $pixel-size*14 0 $colour,
  $pixel-size*24 $pixel-size*14 0 $colour,
  $pixel-size*25 $pixel-size*14 0 $colour,
  $pixel-size*26 $pixel-size*14 0 $colour,
  $pixel-size*27 $pixel-size*14 0 $colour,
  // $pixel-size*28 $pixel-size*14 0 $colour,
  // $pixel-size*29 $pixel-size*14 0 $colour,
  $pixel-size*30 $pixel-size*14 0 $colour,
  $pixel-size*31 $pixel-size*14 0 $colour,
  $pixel-size*32 $pixel-size*14 0 $colour,

  $pixel-size*10 $pixel-size*15 0 $colour,
  $pixel-size*11 $pixel-size*15 0 $colour,
  $pixel-size*12 $pixel-size*15 0 $colour,
  $pixel-size*13 $pixel-size*15 0 $colour,
  $pixel-size*14 $pixel-size*15 0 $colour,
  $pixel-size*15 $pixel-size*15 0 $colour,
  $pixel-size*16 $pixel-size*15 0 $colour,
  $pixel-size*17 $pixel-size*15 0 $colour,
  $pixel-size*18 $pixel-size*15 0 $colour,
  $pixel-size*19 $pixel-size*15 0 $colour,
  $pixel-size*20 $pixel-size*15 0 $colour,
  $pixel-size*21 $pixel-size*15 0 $colour,
  $pixel-size*22 $pixel-size*15 0 $colour,
  $pixel-size*23 $pixel-size*15 0 $colour,
  $pixel-size*24 $pixel-size*15 0 $colour,
  $pixel-size*25 $pixel-size*15 0 $colour,
  $pixel-size*26 $pixel-size*15 0 $colour,
  $pixel-size*27 $pixel-size*15 0 $colour,
  // $pixel-size*28 $pixel-size*15 0 $colour,
  // $pixel-size*29 $pixel-size*15 0 $colour,
  $pixel-size*30 $pixel-size*15 0 $colour,
  $pixel-size*31 $pixel-size*15 0 $colour,
  $pixel-size*32 $pixel-size*15 0 $colour,

  $pixel-size*10 $pixel-size*16 0 $colour,
  $pixel-size*11 $pixel-size*16 0 $colour,
  $pixel-size*12 $pixel-size*16 0 $colour,
  $pixel-size*13 $pixel-size*16 0 $colour,
  $pixel-size*14 $pixel-size*16 0 $colour,
  $pixel-size*15 $pixel-size*16 0 $colour,
  $pixel-size*16 $pixel-size*16 0 $colour,
  $pixel-size*17 $pixel-size*16 0 $colour,
  $pixel-size*18 $pixel-size*16 0 $colour,
  $pixel-size*19 $pixel-size*16 0 $colour,
  $pixel-size*20 $pixel-size*16 0 $colour,
  $pixel-size*21 $pixel-size*16 0 $colour,
  $pixel-size*22 $pixel-size*16 0 $colour,
  $pixel-size*23 $pixel-size*16 0 $colour,
  $pixel-size*24 $pixel-size*16 0 $colour,
  $pixel-size*25 $pixel-size*16 0 $colour,
  $pixel-size*26 $pixel-size*16 0 $colour,
  $pixel-size*27 $pixel-size*16 0 $colour,
  // $pixel-size*28 $pixel-size*16 0 $colour,
  // $pixel-size*29 $pixel-size*16 0 $colour,
  $pixel-size*30 $pixel-size*16 0 $colour,
  $pixel-size*31 $pixel-size*16 0 $colour,
  $pixel-size*32 $pixel-size*16 0 $colour,

  $pixel-size*10 $pixel-size*17 0 $colour,
  $pixel-size*11 $pixel-size*17 0 $colour,
  $pixel-size*12 $pixel-size*17 0 $colour,
  $pixel-size*13 $pixel-size*17 0 $colour,
  $pixel-size*14 $pixel-size*17 0 $colour,
  $pixel-size*15 $pixel-size*17 0 $colour,
  $pixel-size*16 $pixel-size*17 0 $colour,
  $pixel-size*17 $pixel-size*17 0 $colour,
  $pixel-size*18 $pixel-size*17 0 $colour,
  $pixel-size*19 $pixel-size*17 0 $colour,
  $pixel-size*20 $pixel-size*17 0 $colour,
  $pixel-size*21 $pixel-size*17 0 $colour,
  $pixel-size*22 $pixel-size*17 0 $colour,
  $pixel-size*23 $pixel-size*17 0 $colour,
  $pixel-size*24 $pixel-size*17 0 $colour,
  $pixel-size*25 $pixel-size*17 0 $colour,
  $pixel-size*26 $pixel-size*17 0 $colour,
  $pixel-size*27 $pixel-size*17 0 $colour,
  // $pixel-size*28 $pixel-size*17 0 $colour,
  // $pixel-size*29 $pixel-size*17 0 $colour,
  $pixel-size*30 $pixel-size*17 0 $colour,
  $pixel-size*31 $pixel-size*17 0 $colour,
  $pixel-size*32 $pixel-size*17 0 $colour,

  $pixel-size*10 $pixel-size*18 0 $colour,
  $pixel-size*11 $pixel-size*18 0 $colour,
  $pixel-size*12 $pixel-size*18 0 $colour,
  $pixel-size*13 $pixel-size*18 0 $colour,
  $pixel-size*14 $pixel-size*18 0 $colour,
  $pixel-size*15 $pixel-size*18 0 $colour,
  $pixel-size*16 $pixel-size*18 0 $colour,
  $pixel-size*17 $pixel-size*18 0 $colour,
  $pixel-size*18 $pixel-size*18 0 $colour,
  $pixel-size*19 $pixel-size*18 0 $colour,
  $pixel-size*20 $pixel-size*18 0 $colour,
  $pixel-size*21 $pixel-size*18 0 $colour,
  $pixel-size*22 $pixel-size*18 0 $colour,
  $pixel-size*23 $pixel-size*18 0 $colour,
  $pixel-size*24 $pixel-size*18 0 $colour,
  $pixel-size*25 $pixel-size*18 0 $colour,
  $pixel-size*26 $pixel-size*18 0 $colour,
  $pixel-size*27 $pixel-size*18 0 $colour,
  // $pixel-size*28 $pixel-size*18 0 $colour,
  // $pixel-size*29 $pixel-size*18 0 $colour,
  $pixel-size*30 $pixel-size*18 0 $colour,
  $pixel-size*31 $pixel-size*18 0 $colour,
  $pixel-size*32 $pixel-size*18 0 $colour,

  $pixel-size*10 $pixel-size*19 0 $colour,
  $pixel-size*11 $pixel-size*19 0 $colour,
  $pixel-size*12 $pixel-size*19 0 $colour,
  $pixel-size*13 $pixel-size*19 0 $colour,
  $pixel-size*14 $pixel-size*19 0 $colour,
  $pixel-size*15 $pixel-size*19 0 $colour,
  $pixel-size*16 $pixel-size*19 0 $colour,
  $pixel-size*17 $pixel-size*19 0 $colour,
  $pixel-size*18 $pixel-size*19 0 $colour,
  $pixel-size*19 $pixel-size*19 0 $colour,
  $pixel-size*20 $pixel-size*19 0 $colour,
  $pixel-size*21 $pixel-size*19 0 $colour,
  $pixel-size*22 $pixel-size*19 0 $colour,
  $pixel-size*23 $pixel-size*19 0 $colour,
  $pixel-size*24 $pixel-size*19 0 $colour,
  $pixel-size*25 $pixel-size*19 0 $colour,
  $pixel-size*26 $pixel-size*19 0 $colour,
  $pixel-size*27 $pixel-size*19 0 $colour,
  // $pixel-size*28 $pixel-size*19 0 $colour,
  // $pixel-size*29 $pixel-size*19 0 $colour,
  $pixel-size*30 $pixel-size*19 0 $colour,
  $pixel-size*31 $pixel-size*19 0 $colour,
  $pixel-size*32 $pixel-size*19 0 $colour,

  $pixel-size*10 $pixel-size*20 0 $colour,
  $pixel-size*11 $pixel-size*20 0 $colour,
  $pixel-size*12 $pixel-size*20 0 $colour,
  $pixel-size*13 $pixel-size*20 0 $colour,
  $pixel-size*14 $pixel-size*20 0 $colour,
  $pixel-size*15 $pixel-size*20 0 $colour,
  $pixel-size*16 $pixel-size*20 0 $colour,
  $pixel-size*17 $pixel-size*20 0 $colour,
  $pixel-size*18 $pixel-size*20 0 $colour,
  $pixel-size*19 $pixel-size*20 0 $colour,
  $pixel-size*20 $pixel-size*20 0 $colour,
  $pixel-size*21 $pixel-size*20 0 $colour,
  $pixel-size*22 $pixel-size*20 0 $colour,
  $pixel-size*23 $pixel-size*20 0 $colour,
  $pixel-size*24 $pixel-size*20 0 $colour,
  $pixel-size*25 $pixel-size*20 0 $colour,
  $pixel-size*26 $pixel-size*20 0 $colour,
  $pixel-size*27 $pixel-size*20 0 $colour,
  // $pixel-size*28 $pixel-size*20 0 $colour,
  // $pixel-size*29 $pixel-size*20 0 $colour,
  $pixel-size*30 $pixel-size*20 0 $colour,
  $pixel-size*31 $pixel-size*20 0 $colour,
  $pixel-size*32 $pixel-size*20 0 $colour,

  $pixel-size*10 $pixel-size*21 0 $colour,
  $pixel-size*11 $pixel-size*21 0 $colour,
  $pixel-size*12 $pixel-size*21 0 $colour,
  $pixel-size*13 $pixel-size*21 0 $colour,
  $pixel-size*14 $pixel-size*21 0 $colour,
  $pixel-size*15 $pixel-size*21 0 $colour,
  $pixel-size*16 $pixel-size*21 0 $colour,
  $pixel-size*17 $pixel-size*21 0 $colour,
  $pixel-size*18 $pixel-size*21 0 $colour,
  $pixel-size*19 $pixel-size*21 0 $colour,
  $pixel-size*20 $pixel-size*21 0 $colour,
  $pixel-size*21 $pixel-size*21 0 $colour,
  $pixel-size*22 $pixel-size*21 0 $colour,
  $pixel-size*23 $pixel-size*21 0 $colour,
  $pixel-size*24 $pixel-size*21 0 $colour,
  $pixel-size*25 $pixel-size*21 0 $colour,
  $pixel-size*26 $pixel-size*21 0 $colour,
  $pixel-size*27 $pixel-size*21 0 $colour,
  // $pixel-size*28 $pixel-size*21 0 $colour,
  // $pixel-size*29 $pixel-size*21 0 $colour,
  $pixel-size*30 $pixel-size*21 0 $colour,
  $pixel-size*31 $pixel-size*21 0 $colour,
  $pixel-size*32 $pixel-size*21 0 $colour,

  $pixel-size*10 $pixel-size*22 0 $colour,
  $pixel-size*11 $pixel-size*22 0 $colour,
  $pixel-size*12 $pixel-size*22 0 $colour,
  $pixel-size*13 $pixel-size*22 0 $colour,
  $pixel-size*14 $pixel-size*22 0 $colour,
  $pixel-size*15 $pixel-size*22 0 $colour,
  $pixel-size*16 $pixel-size*22 0 $colour,
  $pixel-size*17 $pixel-size*22 0 $colour,
  $pixel-size*18 $pixel-size*22 0 $colour,
  $pixel-size*19 $pixel-size*22 0 $colour,
  $pixel-size*20 $pixel-size*22 0 $colour,
  $pixel-size*21 $pixel-size*22 0 $colour,
  $pixel-size*22 $pixel-size*22 0 $colour,
  $pixel-size*23 $pixel-size*22 0 $colour,
  $pixel-size*24 $pixel-size*22 0 $colour,
  $pixel-size*25 $pixel-size*22 0 $colour,
  $pixel-size*26 $pixel-size*22 0 $colour,
  $pixel-size*27 $pixel-size*22 0 $colour,
  // $pixel-size*28 $pixel-size*22 0 $colour,
  // $pixel-size*29 $pixel-size*22 0 $colour,
  $pixel-size*30 $pixel-size*22 0 $colour,
  $pixel-size*31 $pixel-size*22 0 $colour,
  $pixel-size*32 $pixel-size*22 0 $colour,

  $pixel-size*10 $pixel-size*23 0 $colour,
  $pixel-size*11 $pixel-size*23 0 $colour,
  $pixel-size*12 $pixel-size*23 0 $colour,
  $pixel-size*13 $pixel-size*23 0 $colour,
  $pixel-size*14 $pixel-size*23 0 $colour,
  $pixel-size*15 $pixel-size*23 0 $colour,
  $pixel-size*16 $pixel-size*23 0 $colour,
  $pixel-size*17 $pixel-size*23 0 $colour,
  $pixel-size*18 $pixel-size*23 0 $colour,
  $pixel-size*19 $pixel-size*23 0 $colour,
  $pixel-size*20 $pixel-size*23 0 $colour,
  $pixel-size*21 $pixel-size*23 0 $colour,
  $pixel-size*22 $pixel-size*23 0 $colour,
  $pixel-size*23 $pixel-size*23 0 $colour,
  $pixel-size*24 $pixel-size*23 0 $colour,
  $pixel-size*25 $pixel-size*23 0 $colour,
  $pixel-size*26 $pixel-size*23 0 $colour,
  $pixel-size*27 $pixel-size*23 0 $colour,
  // $pixel-size*28 $pixel-size*23 0 $colour,
  // $pixel-size*29 $pixel-size*23 0 $colour,
  $pixel-size*30 $pixel-size*23 0 $colour,
  $pixel-size*31 $pixel-size*23 0 $colour,
  $pixel-size*32 $pixel-size*23 0 $colour,

  $pixel-size*10 $pixel-size*24 0 $colour,
  $pixel-size*11 $pixel-size*24 0 $colour,
  $pixel-size*12 $pixel-size*24 0 $colour,
  $pixel-size*13 $pixel-size*24 0 $colour,
  $pixel-size*14 $pixel-size*24 0 $colour,
  $pixel-size*15 $pixel-size*24 0 $colour,
  $pixel-size*16 $pixel-size*24 0 $colour,
  $pixel-size*17 $pixel-size*24 0 $colour,
  $pixel-size*18 $pixel-size*24 0 $colour,
  $pixel-size*19 $pixel-size*24 0 $colour,
  $pixel-size*20 $pixel-size*24 0 $colour,
  $pixel-size*21 $pixel-size*24 0 $colour,
  $pixel-size*22 $pixel-size*24 0 $colour,
  $pixel-size*23 $pixel-size*24 0 $colour,
  $pixel-size*24 $pixel-size*24 0 $colour,
  $pixel-size*25 $pixel-size*24 0 $colour,
  $pixel-size*26 $pixel-size*24 0 $colour,
  $pixel-size*27 $pixel-size*24 0 $colour,
  // $pixel-size*28 $pixel-size*24 0 $colour,
  // $pixel-size*29 $pixel-size*24 0 $colour,
  $pixel-size*30 $pixel-size*24 0 $colour,
  $pixel-size*31 $pixel-size*24 0 $colour,
  $pixel-size*32 $pixel-size*24 0 $colour,

  $pixel-size*10 $pixel-size*25 0 $colour,
  $pixel-size*11 $pixel-size*25 0 $colour,
  $pixel-size*12 $pixel-size*25 0 $colour,
  $pixel-size*13 $pixel-size*25 0 $colour,
  $pixel-size*14 $pixel-size*25 0 $colour,
  $pixel-size*15 $pixel-size*25 0 $colour,
  $pixel-size*16 $pixel-size*25 0 $colour,
  $pixel-size*17 $pixel-size*25 0 $colour,
  $pixel-size*18 $pixel-size*25 0 $colour,
  $pixel-size*19 $pixel-size*25 0 $colour,
  $pixel-size*20 $pixel-size*25 0 $colour,
  $pixel-size*21 $pixel-size*25 0 $colour,
  $pixel-size*22 $pixel-size*25 0 $colour,
  $pixel-size*23 $pixel-size*25 0 $colour,
  $pixel-size*24 $pixel-size*25 0 $colour,
  $pixel-size*25 $pixel-size*25 0 $colour,
  $pixel-size*26 $pixel-size*25 0 $colour,
  $pixel-size*27 $pixel-size*25 0 $colour,
  // $pixel-size*28 $pixel-size*25 0 $colour,
  // $pixel-size*29 $pixel-size*25 0 $colour,
  $pixel-size*30 $pixel-size*25 0 $colour,
  $pixel-size*31 $pixel-size*25 0 $colour,
  $pixel-size*32 $pixel-size*25 0 $colour,

  $pixel-size*10 $pixel-size*26 0 $colour,
  $pixel-size*11 $pixel-size*26 0 $colour,
  $pixel-size*12 $pixel-size*26 0 $colour,
  $pixel-size*13 $pixel-size*26 0 $colour,
  $pixel-size*14 $pixel-size*26 0 $colour,
  $pixel-size*15 $pixel-size*26 0 $colour,
  $pixel-size*16 $pixel-size*26 0 $colour,
  $pixel-size*17 $pixel-size*26 0 $colour,
  $pixel-size*18 $pixel-size*26 0 $colour,
  $pixel-size*19 $pixel-size*26 0 $colour,
  $pixel-size*20 $pixel-size*26 0 $colour,
  $pixel-size*21 $pixel-size*26 0 $colour,
  $pixel-size*22 $pixel-size*26 0 $colour,
  $pixel-size*23 $pixel-size*26 0 $colour,
  $pixel-size*24 $pixel-size*26 0 $colour,
  $pixel-size*25 $pixel-size*26 0 $colour,
  $pixel-size*26 $pixel-size*26 0 $colour,
  $pixel-size*27 $pixel-size*26 0 $colour,
  // $pixel-size*28 $pixel-size*26 0 $colour,
  // $pixel-size*29 $pixel-size*26 0 $colour,
  $pixel-size*30 $pixel-size*26 0 $colour,
  $pixel-size*31 $pixel-size*26 0 $colour,
  $pixel-size*32 $pixel-size*26 0 $colour,

  $pixel-size*10 $pixel-size*27 0 $colour,
  $pixel-size*11 $pixel-size*27 0 $colour,
  $pixel-size*12 $pixel-size*27 0 $colour,
  $pixel-size*13 $pixel-size*27 0 $colour,
  $pixel-size*14 $pixel-size*27 0 $colour,
  $pixel-size*15 $pixel-size*27 0 $colour,
  $pixel-size*16 $pixel-size*27 0 $colour,
  $pixel-size*17 $pixel-size*27 0 $colour,
  $pixel-size*18 $pixel-size*27 0 $colour,
  $pixel-size*19 $pixel-size*27 0 $colour,
  $pixel-size*20 $pixel-size*27 0 $colour,
  $pixel-size*21 $pixel-size*27 0 $colour,
  $pixel-size*22 $pixel-size*27 0 $colour,
  $pixel-size*23 $pixel-size*27 0 $colour,
  $pixel-size*24 $pixel-size*27 0 $colour,
  $pixel-size*25 $pixel-size*27 0 $colour,
  $pixel-size*26 $pixel-size*27 0 $colour,
  $pixel-size*27 $pixel-size*27 0 $colour,
  // $pixel-size*28 $pixel-size*27 0 $colour,
  // $pixel-size*29 $pixel-size*27 0 $colour,
  $pixel-size*30 $pixel-size*27 0 $colour,
  $pixel-size*31 $pixel-size*27 0 $colour,
  $pixel-size*32 $pixel-size*27 0 $colour,

  $pixel-size*10 $pixel-size*28 0 $colour,
  $pixel-size*11 $pixel-size*28 0 $colour,
  $pixel-size*12 $pixel-size*28 0 $colour,
  $pixel-size*13 $pixel-size*28 0 $colour,
  $pixel-size*14 $pixel-size*28 0 $colour,
  $pixel-size*15 $pixel-size*28 0 $colour,
  $pixel-size*16 $pixel-size*28 0 $colour,
  $pixel-size*17 $pixel-size*28 0 $colour,
  $pixel-size*18 $pixel-size*28 0 $colour,
  $pixel-size*19 $pixel-size*28 0 $colour,
  $pixel-size*20 $pixel-size*28 0 $colour,
  $pixel-size*21 $pixel-size*28 0 $colour,
  $pixel-size*22 $pixel-size*28 0 $colour,
  $pixel-size*23 $pixel-size*28 0 $colour,
  $pixel-size*24 $pixel-size*28 0 $colour,
  $pixel-size*25 $pixel-size*28 0 $colour,
  $pixel-size*26 $pixel-size*28 0 $colour,
  $pixel-size*27 $pixel-size*28 0 $colour,
  // $pixel-size*28 $pixel-size*28 0 $colour,
  // $pixel-size*29 $pixel-size*28 0 $colour,
  $pixel-size*30 $pixel-size*28 0 $colour,
  $pixel-size*31 $pixel-size*28 0 $colour,
  $pixel-size*32 $pixel-size*28 0 $colour,

  $pixel-size*10 $pixel-size*29 0 $colour,
  $pixel-size*11 $pixel-size*29 0 $colour,
  $pixel-size*12 $pixel-size*29 0 $colour,
  $pixel-size*13 $pixel-size*29 0 $colour,
  $pixel-size*14 $pixel-size*29 0 $colour,
  $pixel-size*15 $pixel-size*29 0 $colour,
  $pixel-size*16 $pixel-size*29 0 $colour,
  $pixel-size*17 $pixel-size*29 0 $colour,
  $pixel-size*18 $pixel-size*29 0 $colour,
  $pixel-size*19 $pixel-size*29 0 $colour,
  $pixel-size*20 $pixel-size*29 0 $colour,
  $pixel-size*21 $pixel-size*29 0 $colour,
  $pixel-size*22 $pixel-size*29 0 $colour,
  $pixel-size*23 $pixel-size*29 0 $colour,
  $pixel-size*24 $pixel-size*29 0 $colour,
  $pixel-size*25 $pixel-size*29 0 $colour,
  $pixel-size*26 $pixel-size*29 0 $colour,
  $pixel-size*27 $pixel-size*29 0 $colour,
  // $pixel-size*28 $pixel-size*29 0 $colour,
  // $pixel-size*29 $pixel-size*29 0 $colour,
  $pixel-size*30 $pixel-size*29 0 $colour,
  $pixel-size*31 $pixel-size*29 0 $colour,
  $pixel-size*32 $pixel-size*29 0 $colour,

  $pixel-size*10 $pixel-size*30 0 $colour,
  $pixel-size*11 $pixel-size*30 0 $colour,
  $pixel-size*12 $pixel-size*30 0 $colour,
  $pixel-size*13 $pixel-size*30 0 $colour,
  $pixel-size*14 $pixel-size*30 0 $colour,
  $pixel-size*15 $pixel-size*30 0 $colour,
  $pixel-size*16 $pixel-size*30 0 $colour,
  $pixel-size*17 $pixel-size*30 0 $colour,
  $pixel-size*18 $pixel-size*30 0 $colour,
  $pixel-size*19 $pixel-size*30 0 $colour,
  $pixel-size*20 $pixel-size*30 0 $colour,
  $pixel-size*21 $pixel-size*30 0 $colour,
  $pixel-size*22 $pixel-size*30 0 $colour,
  $pixel-size*23 $pixel-size*30 0 $colour,
  $pixel-size*24 $pixel-size*30 0 $colour,
  $pixel-size*25 $pixel-size*30 0 $colour,
  $pixel-size*26 $pixel-size*30 0 $colour,
  $pixel-size*27 $pixel-size*30 0 $colour,
  // $pixel-size*28 $pixel-size*30 0 $colour,
  // $pixel-size*29 $pixel-size*30 0 $colour,
  $pixel-size*30 $pixel-size*30 0 $colour,
  $pixel-size*31 $pixel-size*30 0 $colour,
  $pixel-size*32 $pixel-size*30 0 $colour,

  $pixel-size*10 $pixel-size*31 0 $colour,
  $pixel-size*11 $pixel-size*31 0 $colour,
  $pixel-size*12 $pixel-size*31 0 $colour,
  $pixel-size*13 $pixel-size*31 0 $colour,
  $pixel-size*14 $pixel-size*31 0 $colour,
  $pixel-size*15 $pixel-size*31 0 $colour,
  $pixel-size*16 $pixel-size*31 0 $colour,
  $pixel-size*17 $pixel-size*31 0 $colour,
  $pixel-size*18 $pixel-size*31 0 $colour,
  $pixel-size*19 $pixel-size*31 0 $colour,
  $pixel-size*20 $pixel-size*31 0 $colour,
  $pixel-size*21 $pixel-size*31 0 $colour,
  $pixel-size*22 $pixel-size*31 0 $colour,
  $pixel-size*23 $pixel-size*31 0 $colour,
  $pixel-size*24 $pixel-size*31 0 $colour,
  $pixel-size*25 $pixel-size*31 0 $colour,
  $pixel-size*26 $pixel-size*31 0 $colour,
  $pixel-size*27 $pixel-size*31 0 $colour,
  // $pixel-size*28 $pixel-size*31 0 $colour,
  // $pixel-size*29 $pixel-size*31 0 $colour,
  $pixel-size*30 $pixel-size*31 0 $colour,
  $pixel-size*31 $pixel-size*31 0 $colour,
  $pixel-size*32 $pixel-size*31 0 $colour,

  $pixel-size*11 $pixel-size*32 0 $colour,
  $pixel-size*12 $pixel-size*32 0 $colour,
  $pixel-size*13 $pixel-size*32 0 $colour,
  $pixel-size*14 $pixel-size*32 0 $colour,
  $pixel-size*15 $pixel-size*32 0 $colour,
  $pixel-size*16 $pixel-size*32 0 $colour,
  $pixel-size*17 $pixel-size*32 0 $colour,
  $pixel-size*18 $pixel-size*32 0 $colour,
  $pixel-size*19 $pixel-size*32 0 $colour,
  $pixel-size*20 $pixel-size*32 0 $colour,
  $pixel-size*21 $pixel-size*32 0 $colour,
  $pixel-size*22 $pixel-size*32 0 $colour,
  $pixel-size*23 $pixel-size*32 0 $colour,
  $pixel-size*24 $pixel-size*32 0 $colour,
  $pixel-size*25 $pixel-size*32 0 $colour,
  $pixel-size*26 $pixel-size*32 0 $colour,
  $pixel-size*27 $pixel-size*32 0 $colour,
  $pixel-size*28 $pixel-size*32 0 $colour,
  $pixel-size*29 $pixel-size*32 0 $colour,
  $pixel-size*30 $pixel-size*32 0 $colour,
  $pixel-size*31 $pixel-size*32 0 $colour,

  // Corners
  // $pixel-size*1 $pixel-size*32 0 $colour,
  // $pixel-size*32 $pixel-size*32 0 $colour,
  ;
}

@mixin heart ($colour) {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  display: block;
  box-shadow:

  // Corners - X - Y

  // $pixel-size*1 $pixel-size*1 0 $colour,
  // $pixel-size*1 $pixel-size*8 0 $colour,

  $pixel-size*2 $pixel-size*1 0 $colour,
  $pixel-size*3 $pixel-size*1 0 $colour,
  $pixel-size*4 $pixel-size*1 0 $colour,
  $pixel-size*6 $pixel-size*1 0 $colour,
  $pixel-size*7 $pixel-size*1 0 $colour,
  $pixel-size*8 $pixel-size*1 0 $colour,

  $pixel-size*1 $pixel-size*2 0 $colour,
  $pixel-size*2 $pixel-size*2 0 $colour,
  $pixel-size*3 $pixel-size*2 0 $colour,
  $pixel-size*4 $pixel-size*2 0 $colour,
  $pixel-size*5 $pixel-size*2 0 $colour,
  $pixel-size*6 $pixel-size*2 0 $colour,
  $pixel-size*7 $pixel-size*2 0 $colour,
  $pixel-size*8 $pixel-size*2 0 $colour,
  $pixel-size*9 $pixel-size*2 0 $colour,

  $pixel-size*1 $pixel-size*3 0 $colour,
  $pixel-size*2 $pixel-size*3 0 $colour,
  $pixel-size*3 $pixel-size*3 0 $colour,
  $pixel-size*4 $pixel-size*3 0 $colour,
  $pixel-size*5 $pixel-size*3 0 $colour,
  $pixel-size*6 $pixel-size*3 0 $colour,
  $pixel-size*7 $pixel-size*3 0 $colour,
  $pixel-size*8 $pixel-size*3 0 $colour,
  $pixel-size*9 $pixel-size*3 0 $colour,

  $pixel-size*1 $pixel-size*4 0 $colour,
  $pixel-size*2 $pixel-size*4 0 $colour,
  $pixel-size*3 $pixel-size*4 0 $colour,
  $pixel-size*4 $pixel-size*4 0 $colour,
  $pixel-size*5 $pixel-size*4 0 $colour,
  $pixel-size*6 $pixel-size*4 0 $colour,
  $pixel-size*7 $pixel-size*4 0 $colour,
  $pixel-size*8 $pixel-size*4 0 $colour,
  $pixel-size*9 $pixel-size*4 0 $colour,

  $pixel-size*2 $pixel-size*5 0 $colour,
  $pixel-size*3 $pixel-size*5 0 $colour,
  $pixel-size*4 $pixel-size*5 0 $colour,
  $pixel-size*5 $pixel-size*5 0 $colour,
  $pixel-size*6 $pixel-size*5 0 $colour,
  $pixel-size*7 $pixel-size*5 0 $colour,
  $pixel-size*8 $pixel-size*5 0 $colour,

  $pixel-size*3 $pixel-size*6 0 $colour,
  $pixel-size*4 $pixel-size*6 0 $colour,
  $pixel-size*5 $pixel-size*6 0 $colour,
  $pixel-size*6 $pixel-size*6 0 $colour,
  $pixel-size*7 $pixel-size*6 0 $colour,

  $pixel-size*4 $pixel-size*7 0 $colour,
  $pixel-size*5 $pixel-size*7 0 $colour,
  $pixel-size*6 $pixel-size*7 0 $colour,

  $pixel-size*5 $pixel-size*8 0 $colour
  ;
  // $pixel-size*5 $pixel-size*9 0 $colour;
}
