/* #21aa52 = green, #d30102 = red, #000, #fff  */
$base-unit:10px;

$pixel-outline: #000;
$mushroom-spot-color: #fff;
$mushroom-face-color: #fff;
$mushroom-fill-color: #d30102; // red
// $mushroom-fill-color: #21aa52; // green

.mushroom-container{
  width: $base-unit*17;
  height: $base-unit*17;
}

.position-bottom{
  position: absolute;
  bottom:0;
}

.background {
  background: #e1e1e1;
}

.push-left{
  margin-left: $base-unit*2;
}

.mushroom{
  width: $base-unit;
  height: $base-unit;
  font-family:monospace;
  box-shadow:
    // outline of mushroom
    $base-unit*5 0 0 $pixel-outline,
    $base-unit*6 0 0 $pixel-outline,
    $base-unit*7 0 0 $pixel-outline,
    $base-unit*8 0 0 $pixel-outline,
    $base-unit*9 0 0 $pixel-outline,
    $base-unit*10 0 0 $pixel-outline,
    $base-unit*11 0 0 $pixel-outline,
    $base-unit*12 $base-unit*1 0 $pixel-outline,
    $base-unit*13 $base-unit*1 0 $pixel-outline,
    $base-unit*14 $base-unit*2 0 $pixel-outline,
    $base-unit*15 $base-unit*3 0 $pixel-outline,
    $base-unit*15 $base-unit*4 0 $pixel-outline,
    $base-unit*16 $base-unit*5 0 $pixel-outline,
    $base-unit*16 $base-unit*6 0 $pixel-outline,
    $base-unit*16 $base-unit*7 0 $pixel-outline,
    $base-unit*16 $base-unit*8 0 $pixel-outline,
    $base-unit*16 $base-unit*9 0 $pixel-outline,
    $base-unit*16 $base-unit*10 0 $pixel-outline,
    $base-unit*16 $base-unit*11 0 $pixel-outline,
    $base-unit*15 $base-unit*12 0 $pixel-outline,
    $base-unit*14 $base-unit*12 0 $pixel-outline,
    $base-unit*13 $base-unit*12 0 $pixel-outline,
    $base-unit*12 $base-unit*11 0 $pixel-outline,
    $base-unit*11 $base-unit*11 0 $pixel-outline,
    $base-unit*10 $base-unit*11 0 $pixel-outline,
    $base-unit*9 $base-unit*11 0 $pixel-outline,
    $base-unit*8 $base-unit*11 0 $pixel-outline,
    $base-unit*7 $base-unit*11 0 $pixel-outline,
    $base-unit*6 $base-unit*11 0 $pixel-outline,
    $base-unit*5 $base-unit*11 0 $pixel-outline,
    $base-unit*4 $base-unit*11 0 $pixel-outline,
    $base-unit*3 $base-unit*12 0 $pixel-outline,
    $base-unit*2 $base-unit*12 0 $pixel-outline,
    $base-unit $base-unit*12 0 $pixel-outline,
    0 $base-unit*11 0 $pixel-outline,
    0 $base-unit*10 0 $pixel-outline,
    0 $base-unit*9 0 $pixel-outline,
    0 $base-unit*8 0 $pixel-outline,
    0 $base-unit*7 0 $pixel-outline,
    0 $base-unit*6 0 $pixel-outline,
    0 $base-unit*5 0 $pixel-outline,
    $base-unit*1 $base-unit*4 0 $pixel-outline,
    $base-unit*1 $base-unit*3 0 $pixel-outline,
    $base-unit*2 $base-unit*2 0 $pixel-outline,
    $base-unit*3 $base-unit 0 $pixel-outline,
    $base-unit*4 $base-unit 0 $pixel-outline,
    $base-unit*2 $base-unit*13 0 $pixel-outline,
    $base-unit*2 $base-unit*14 0 $pixel-outline,
    $base-unit*3 $base-unit*15 0 $pixel-outline,
    $base-unit*4 $base-unit*16 0 $pixel-outline,
    $base-unit*5 $base-unit*16 0 $pixel-outline,
    $base-unit*6 $base-unit*16 0 $pixel-outline,
    $base-unit*7 $base-unit*16 0 $pixel-outline,
    $base-unit*8 $base-unit*16 0 $pixel-outline,
    $base-unit*9 $base-unit*16 0 $pixel-outline,
    $base-unit*10 $base-unit*16 0 $pixel-outline,
    $base-unit*11 $base-unit*16 0 $pixel-outline,
    $base-unit*12 $base-unit*16 0 $pixel-outline,
    $base-unit*13 $base-unit*15 0 $pixel-outline,
    $base-unit*14 $base-unit*14 0 $pixel-outline,
    $base-unit*14 $base-unit*13 0 $pixel-outline,
    $base-unit*10 $base-unit*12 0 $pixel-outline,
    $base-unit*10 $base-unit*13 0 $pixel-outline,
    $base-unit*6 $base-unit*12 0 $pixel-outline,
    $base-unit*6 $base-unit*13 0 $pixel-outline,

    //mushroom fill colour
    $base-unit*7 $base-unit 0 $mushroom-fill-color,
    $base-unit*8 $base-unit 0 $mushroom-fill-color,
    $base-unit*9 $base-unit 0 $mushroom-fill-color,
    $base-unit*10 $base-unit 0 $mushroom-fill-color,
    $base-unit*11 $base-unit 0 $mushroom-fill-color,
    $base-unit*7 $base-unit*2 0 $mushroom-fill-color,
    $base-unit*8 $base-unit*2 0 $mushroom-fill-color,
    $base-unit*9 $base-unit*2 0 $mushroom-fill-color,
    $base-unit*10 $base-unit*2 0 $mushroom-fill-color,
    $base-unit*11 $base-unit*2 0 $mushroom-fill-color,
    $base-unit*6 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*7 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*8 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*9 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*10 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*11 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*12 $base-unit*3 0 $mushroom-fill-color,
    $base-unit*2 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*3 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*4 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*6 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*12 $base-unit*4 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*4 0 $mushroom-fill-color,
    $base-unit $base-unit*5 0 $mushroom-fill-color,
    $base-unit*4 $base-unit*5 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*5 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*5 0 $mushroom-fill-color,
    $base-unit*14 $base-unit*5 0 $mushroom-fill-color,
    $base-unit*15 $base-unit*5 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*6 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*6 0 $mushroom-fill-color,
    $base-unit*14 $base-unit*6 0 $mushroom-fill-color,
    $base-unit*15 $base-unit*6 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*7 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*7 0 $mushroom-fill-color,
    $base-unit*14 $base-unit*7 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*8 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*8 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*9 0 $mushroom-fill-color,
    $base-unit*6 $base-unit*9 0 $mushroom-fill-color,
    $base-unit*12 $base-unit*9 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*9 0 $mushroom-fill-color,
    $base-unit $base-unit*10 0 $mushroom-fill-color,
    $base-unit*4 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*5 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*6 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*7 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*8 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*9 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*10 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*11 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*12 $base-unit*10 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*10 0 $mushroom-fill-color,
    $base-unit $base-unit*11 0 $mushroom-fill-color,
    $base-unit*2 $base-unit*11 0 $mushroom-fill-color,
    $base-unit*3 $base-unit*11 0 $mushroom-fill-color,
    $base-unit*13 $base-unit*11 0 $mushroom-fill-color,
    $base-unit*14 $base-unit*11 0 $mushroom-fill-color,

    // mushroom face
    $base-unit*4 $base-unit*12 0 $mushroom-face-color,
    $base-unit*5 $base-unit*12 0 $mushroom-face-color,
    $base-unit*7 $base-unit*12 0 $mushroom-face-color,
    $base-unit*8 $base-unit*12 0 $mushroom-face-color,
    $base-unit*9 $base-unit*12 0 $mushroom-face-color,
    $base-unit*11 $base-unit*12 0 $mushroom-face-color,
    $base-unit*12 $base-unit*12 0 $mushroom-face-color,
    $base-unit*3 $base-unit*13 0 $mushroom-face-color,
    $base-unit*4 $base-unit*13 0 $mushroom-face-color,
    $base-unit*5 $base-unit*13 0 $mushroom-face-color,
    $base-unit*7 $base-unit*13 0 $mushroom-face-color,
    $base-unit*8 $base-unit*13 0 $mushroom-face-color,
    $base-unit*9 $base-unit*13 0 $mushroom-face-color,
    $base-unit*11 $base-unit*13 0 $mushroom-face-color,
    $base-unit*12 $base-unit*13 0 $mushroom-face-color,
    $base-unit*13 $base-unit*13 0 $mushroom-face-color,
    $base-unit*3 $base-unit*14 0 $mushroom-face-color,
    $base-unit*4 $base-unit*14 0 $mushroom-face-color,
    $base-unit*5 $base-unit*14 0 $mushroom-face-color,
    $base-unit*6 $base-unit*14 0 $mushroom-face-color,
    $base-unit*7 $base-unit*14 0 $mushroom-face-color,
    $base-unit*8 $base-unit*14 0 $mushroom-face-color,
    $base-unit*9 $base-unit*14 0 $mushroom-face-color,
    $base-unit*10 $base-unit*14 0 $mushroom-face-color,
    $base-unit*11 $base-unit*14 0 $mushroom-face-color,
    $base-unit*12 $base-unit*14 0 $mushroom-face-color,
    $base-unit*13 $base-unit*14 0 $mushroom-face-color,
    $base-unit*4 $base-unit*15 0 $mushroom-face-color,
    $base-unit*5 $base-unit*15 0 $mushroom-face-color,
    $base-unit*6 $base-unit*15 0 $mushroom-face-color,
    $base-unit*7 $base-unit*15 0 $mushroom-face-color,
    $base-unit*8 $base-unit*15 0 $mushroom-face-color,
    $base-unit*9 $base-unit*15 0 $mushroom-face-color,
    $base-unit*10 $base-unit*15 0 $mushroom-face-color,
    $base-unit*11 $base-unit*15 0 $mushroom-face-color,
    $base-unit*12 $base-unit*15 0 $mushroom-face-color,

    //mushroom spots
    $base-unit*5 $base-unit*1 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*1 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*5 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*12 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*13 $base-unit*2 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*5 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*13 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*14 $base-unit*3 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*14 $base-unit*4 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*5 0 $mushroom-spot-color,
    $base-unit*12 $base-unit*5 0 $mushroom-spot-color,
    $base-unit $base-unit*6 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*6 0 $mushroom-spot-color,
    $base-unit*12 $base-unit*6 0 $mushroom-spot-color,
    $base-unit $base-unit*7 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*12 $base-unit*7 0 $mushroom-spot-color,
    $base-unit*15 $base-unit*7 0 $mushroom-spot-color,
    $base-unit $base-unit*8 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*6 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*12 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*14 $base-unit*8 0 $mushroom-spot-color,
    $base-unit*15 $base-unit*8 0 $mushroom-spot-color,
    $base-unit $base-unit*9 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*4 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*7 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*8 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*9 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*10 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*11 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*14 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*15 $base-unit*9 0 $mushroom-spot-color,
    $base-unit*2 $base-unit*10 0 $mushroom-spot-color,
    $base-unit*3 $base-unit*10 0 $mushroom-spot-color,
    $base-unit*14 $base-unit*10 0 $mushroom-spot-color,
    $base-unit*15 $base-unit*10 0 $mushroom-spot-color,
    $base-unit*15 $base-unit*11 0 $mushroom-spot-color,
    ;
}
