$pixel-size:2px;

.icon-container {
  width: $pixel-size*16;
  height: $pixel-size*16;
  display: inline-block;
  padding-right:10px;
}

.face-container {
  width: $pixel-size*75;
  height: $pixel-size*75;
  display: inline-block;
  border: 2px solid $foreground;
}

.twitter-icon {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
  $pixel-size*12 0 0 $foreground,

  $pixel-size*10 $pixel-size*1 0 $foreground,
  $pixel-size*11 $pixel-size*1 0 $foreground,

  $pixel-size*0 $pixel-size*2 0 $foreground,
  $pixel-size*9 $pixel-size*2 0 $foreground,
  $pixel-size*10 $pixel-size*2 0 $foreground,
  $pixel-size*11 $pixel-size*2 0 $foreground,
  $pixel-size*12 $pixel-size*2 0 $foreground,

  $pixel-size*0 $pixel-size*3 0 $foreground,
  $pixel-size*1 $pixel-size*3 0 $foreground,
  $pixel-size*8 $pixel-size*3 0 $foreground,
  $pixel-size*9 $pixel-size*3 0 $foreground,
  $pixel-size*10 $pixel-size*3 0 $foreground,
  $pixel-size*11 $pixel-size*3 0 $foreground,
  $pixel-size*12 $pixel-size*3 0 $foreground,
  $pixel-size*13 $pixel-size*3 0 $foreground,

  $pixel-size*0 $pixel-size*4 0 $foreground,
  $pixel-size*1 $pixel-size*4 0 $foreground,
  $pixel-size*2 $pixel-size*4 0 $foreground,
  $pixel-size*8 $pixel-size*4 0 $foreground,
  $pixel-size*9 $pixel-size*4 0 $foreground,
  $pixel-size*10 $pixel-size*4 0 $foreground,
  $pixel-size*11 $pixel-size*4 0 $foreground,
  $pixel-size*12 $pixel-size*4 0 $foreground,
  $pixel-size*13 $pixel-size*4 0 $foreground,
  $pixel-size*14 $pixel-size*4 0 $foreground,
  $pixel-size*15 $pixel-size*4 0 $foreground,

  $pixel-size*1 $pixel-size*5 0 $foreground,
  $pixel-size*2 $pixel-size*5 0 $foreground,
  $pixel-size*3 $pixel-size*5 0 $foreground,
  $pixel-size*4 $pixel-size*5 0 $foreground,
  $pixel-size*5 $pixel-size*5 0 $foreground,
  $pixel-size*8 $pixel-size*5 0 $foreground,
  $pixel-size*9 $pixel-size*5 0 $foreground,
  $pixel-size*10 $pixel-size*5 0 $foreground,
  $pixel-size*11 $pixel-size*5 0 $foreground,
  $pixel-size*12 $pixel-size*5 0 $foreground,
  $pixel-size*13 $pixel-size*5 0 $foreground,
  $pixel-size*14 $pixel-size*5 0 $foreground,

  $pixel-size*0 $pixel-size*6 0 $foreground,
  $pixel-size*1 $pixel-size*6 0 $foreground,
  $pixel-size*2 $pixel-size*6 0 $foreground,
  $pixel-size*3 $pixel-size*6 0 $foreground,
  $pixel-size*4 $pixel-size*6 0 $foreground,
  $pixel-size*5 $pixel-size*6 0 $foreground,
  $pixel-size*6 $pixel-size*6 0 $foreground,
  $pixel-size*7 $pixel-size*6 0 $foreground,
  $pixel-size*8 $pixel-size*6 0 $foreground,
  $pixel-size*9 $pixel-size*6 0 $foreground,
  $pixel-size*10 $pixel-size*6 0 $foreground,
  $pixel-size*11 $pixel-size*6 0 $foreground,
  $pixel-size*12 $pixel-size*6 0 $foreground,
  $pixel-size*13 $pixel-size*6 0 $foreground,

  $pixel-size*2 $pixel-size*7 0 $foreground,
  $pixel-size*3 $pixel-size*7 0 $foreground,
  $pixel-size*4 $pixel-size*7 0 $foreground,
  $pixel-size*5 $pixel-size*7 0 $foreground,
  $pixel-size*6 $pixel-size*7 0 $foreground,
  $pixel-size*7 $pixel-size*7 0 $foreground,
  $pixel-size*8 $pixel-size*7 0 $foreground,
  $pixel-size*9 $pixel-size*7 0 $foreground,
  $pixel-size*10 $pixel-size*7 0 $foreground,
  $pixel-size*11 $pixel-size*7 0 $foreground,
  $pixel-size*12 $pixel-size*7 0 $foreground,
  $pixel-size*13 $pixel-size*7 0 $foreground,

  $pixel-size*1 $pixel-size*8 0 $foreground,
  $pixel-size*2 $pixel-size*8 0 $foreground,
  $pixel-size*3 $pixel-size*8 0 $foreground,
  $pixel-size*4 $pixel-size*8 0 $foreground,
  $pixel-size*5 $pixel-size*8 0 $foreground,
  $pixel-size*6 $pixel-size*8 0 $foreground,
  $pixel-size*7 $pixel-size*8 0 $foreground,
  $pixel-size*8 $pixel-size*8 0 $foreground,
  $pixel-size*9 $pixel-size*8 0 $foreground,
  $pixel-size*10 $pixel-size*8 0 $foreground,
  $pixel-size*11 $pixel-size*8 0 $foreground,
  $pixel-size*12 $pixel-size*8 0 $foreground,
  $pixel-size*13 $pixel-size*8 0 $foreground,

  $pixel-size*2 $pixel-size*9 0 $foreground,
  $pixel-size*3 $pixel-size*9 0 $foreground,
  $pixel-size*4 $pixel-size*9 0 $foreground,
  $pixel-size*5 $pixel-size*9 0 $foreground,
  $pixel-size*6 $pixel-size*9 0 $foreground,
  $pixel-size*7 $pixel-size*9 0 $foreground,
  $pixel-size*8 $pixel-size*9 0 $foreground,
  $pixel-size*9 $pixel-size*9 0 $foreground,
  $pixel-size*10 $pixel-size*9 0 $foreground,
  $pixel-size*11 $pixel-size*9 0 $foreground,
  $pixel-size*12 $pixel-size*9 0 $foreground,
  $pixel-size*13 $pixel-size*9 0 $foreground,

  $pixel-size*3 $pixel-size*10 0 $foreground,
  $pixel-size*4 $pixel-size*10 0 $foreground,
  $pixel-size*5 $pixel-size*10 0 $foreground,
  $pixel-size*6 $pixel-size*10 0 $foreground,
  $pixel-size*7 $pixel-size*10 0 $foreground,
  $pixel-size*8 $pixel-size*10 0 $foreground,
  $pixel-size*9 $pixel-size*10 0 $foreground,
  $pixel-size*10 $pixel-size*10 0 $foreground,
  $pixel-size*11 $pixel-size*10 0 $foreground,
  $pixel-size*12 $pixel-size*10 0 $foreground,

  $pixel-size*4 $pixel-size*11 0 $foreground,
  $pixel-size*5 $pixel-size*11 0 $foreground,
  $pixel-size*6 $pixel-size*11 0 $foreground,
  $pixel-size*7 $pixel-size*11 0 $foreground,
  $pixel-size*8 $pixel-size*11 0 $foreground,
  $pixel-size*9 $pixel-size*11 0 $foreground,
  $pixel-size*10 $pixel-size*11 0 $foreground,
  $pixel-size*11 $pixel-size*11 0 $foreground,
  $pixel-size*12 $pixel-size*11 0 $foreground,

  $pixel-size*5 $pixel-size*12 0 $foreground,
  $pixel-size*6 $pixel-size*12 0 $foreground,
  $pixel-size*7 $pixel-size*12 0 $foreground,
  $pixel-size*8 $pixel-size*12 0 $foreground,
  $pixel-size*9 $pixel-size*12 0 $foreground,
  $pixel-size*10 $pixel-size*12 0 $foreground,
  $pixel-size*11 $pixel-size*12 0 $foreground,

  $pixel-size*3 $pixel-size*13 0 $foreground,
  $pixel-size*4 $pixel-size*13 0 $foreground,
  $pixel-size*5 $pixel-size*13 0 $foreground,
  $pixel-size*6 $pixel-size*13 0 $foreground,
  $pixel-size*7 $pixel-size*13 0 $foreground,
  $pixel-size*8 $pixel-size*13 0 $foreground,
  $pixel-size*9 $pixel-size*13 0 $foreground,

  $pixel-size*1 $pixel-size*14 0 $foreground,
  $pixel-size*2 $pixel-size*14 0 $foreground,
  $pixel-size*3 $pixel-size*14 0 $foreground,
  $pixel-size*4 $pixel-size*14 0 $foreground,
  $pixel-size*5 $pixel-size*14 0 $foreground,
  $pixel-size*6 $pixel-size*14 0 $foreground;
}

.linkedin-icon {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
    $pixel-size*1 0 0 $foreground,
    $pixel-size*2 0 0 $foreground,
    $pixel-size*3 0 0 $foreground,
    $pixel-size*4 0 0 $foreground,
    $pixel-size*5 0 0 $foreground,
    $pixel-size*6 0 0 $foreground,
    $pixel-size*7 0 0 $foreground,
    $pixel-size*8 0 0 $foreground,
    $pixel-size*9 0 0 $foreground,
    $pixel-size*10 0 0 $foreground,
    $pixel-size*11 0 0 $foreground,
    $pixel-size*12 0 0 $foreground,
    $pixel-size*13 0 0 $foreground,
    $pixel-size*14 0 0 $foreground,

    $pixel-size*0 $pixel-size*1 0 $foreground,
    $pixel-size*1 $pixel-size*1 0 $foreground,
    $pixel-size*2 $pixel-size*1 0 $foreground,
    $pixel-size*3 $pixel-size*1 0 $foreground,
    $pixel-size*4 $pixel-size*1 0 $foreground,
    $pixel-size*5 $pixel-size*1 0 $foreground,
    $pixel-size*6 $pixel-size*1 0 $foreground,
    $pixel-size*7 $pixel-size*1 0 $foreground,
    $pixel-size*8 $pixel-size*1 0 $foreground,
    $pixel-size*9 $pixel-size*1 0 $foreground,
    $pixel-size*10 $pixel-size*1 0 $foreground,
    $pixel-size*11 $pixel-size*1 0 $foreground,
    $pixel-size*12 $pixel-size*1 0 $foreground,
    $pixel-size*13 $pixel-size*1 0 $foreground,
    $pixel-size*14 $pixel-size*1 0 $foreground,
    $pixel-size*15 $pixel-size*1 0 $foreground,

    $pixel-size*0 $pixel-size*2 0 $foreground,
    $pixel-size*1 $pixel-size*2 0 $foreground,
    $pixel-size*5 $pixel-size*2 0 $foreground,
    $pixel-size*6 $pixel-size*2 0 $foreground,
    $pixel-size*7 $pixel-size*2 0 $foreground,
    $pixel-size*8 $pixel-size*2 0 $foreground,
    $pixel-size*9 $pixel-size*2 0 $foreground,
    $pixel-size*10 $pixel-size*2 0 $foreground,
    $pixel-size*11 $pixel-size*2 0 $foreground,
    $pixel-size*12 $pixel-size*2 0 $foreground,
    $pixel-size*13 $pixel-size*2 0 $foreground,
    $pixel-size*14 $pixel-size*2 0 $foreground,
    $pixel-size*15 $pixel-size*2 0 $foreground,

    $pixel-size*0 $pixel-size*3 0 $foreground,
    $pixel-size*1 $pixel-size*3 0 $foreground,
    $pixel-size*5 $pixel-size*3 0 $foreground,
    $pixel-size*6 $pixel-size*3 0 $foreground,
    $pixel-size*7 $pixel-size*3 0 $foreground,
    $pixel-size*8 $pixel-size*3 0 $foreground,
    $pixel-size*9 $pixel-size*3 0 $foreground,
    $pixel-size*10 $pixel-size*3 0 $foreground,
    $pixel-size*11 $pixel-size*3 0 $foreground,
    $pixel-size*12 $pixel-size*3 0 $foreground,
    $pixel-size*13 $pixel-size*3 0 $foreground,
    $pixel-size*14 $pixel-size*3 0 $foreground,
    $pixel-size*15 $pixel-size*3 0 $foreground,

    $pixel-size*0 $pixel-size*4 0 $foreground,
    $pixel-size*1 $pixel-size*4 0 $foreground,
    $pixel-size*5 $pixel-size*4 0 $foreground,
    $pixel-size*6 $pixel-size*4 0 $foreground,
    $pixel-size*7 $pixel-size*4 0 $foreground,
    $pixel-size*8 $pixel-size*4 0 $foreground,
    $pixel-size*9 $pixel-size*4 0 $foreground,
    $pixel-size*10 $pixel-size*4 0 $foreground,
    $pixel-size*11 $pixel-size*4 0 $foreground,
    $pixel-size*12 $pixel-size*4 0 $foreground,
    $pixel-size*13 $pixel-size*4 0 $foreground,
    $pixel-size*14 $pixel-size*4 0 $foreground,
    $pixel-size*15 $pixel-size*4 0 $foreground,

    $pixel-size*0 $pixel-size*5 0 $foreground,
    $pixel-size*1 $pixel-size*5 0 $foreground,
    $pixel-size*2 $pixel-size*5 0 $foreground,
    $pixel-size*3 $pixel-size*5 0 $foreground,
    $pixel-size*4 $pixel-size*5 0 $foreground,
    $pixel-size*5 $pixel-size*5 0 $foreground,
    $pixel-size*6 $pixel-size*5 0 $foreground,
    $pixel-size*7 $pixel-size*5 0 $foreground,
    $pixel-size*8 $pixel-size*5 0 $foreground,
    $pixel-size*9 $pixel-size*5 0 $foreground,
    $pixel-size*10 $pixel-size*5 0 $foreground,
    $pixel-size*11 $pixel-size*5 0 $foreground,
    $pixel-size*12 $pixel-size*5 0 $foreground,
    $pixel-size*13 $pixel-size*5 0 $foreground,
    $pixel-size*14 $pixel-size*5 0 $foreground,
    $pixel-size*15 $pixel-size*5 0 $foreground,

    $pixel-size*0 $pixel-size*6 0 $foreground,
    $pixel-size*1 $pixel-size*6 0 $foreground,
    $pixel-size*5 $pixel-size*6 0 $foreground,
    $pixel-size*9 $pixel-size*6 0 $foreground,
    $pixel-size*13 $pixel-size*6 0 $foreground,
    $pixel-size*14 $pixel-size*6 0 $foreground,
    $pixel-size*15 $pixel-size*6 0 $foreground,

    $pixel-size*0 $pixel-size*7 0 $foreground,
    $pixel-size*1 $pixel-size*7 0 $foreground,
    $pixel-size*5 $pixel-size*7 0 $foreground,
    $pixel-size*14 $pixel-size*7 0 $foreground,
    $pixel-size*15 $pixel-size*7 0 $foreground,

    $pixel-size*0 $pixel-size*8 0 $foreground,
    $pixel-size*1 $pixel-size*8 0 $foreground,
    $pixel-size*5 $pixel-size*8 0 $foreground,
    $pixel-size*10 $pixel-size*8 0 $foreground,
    $pixel-size*14 $pixel-size*8 0 $foreground,
    $pixel-size*15 $pixel-size*8 0 $foreground,

    $pixel-size*0 $pixel-size*9 0 $foreground,
    $pixel-size*1 $pixel-size*9 0 $foreground,
    $pixel-size*5 $pixel-size*9 0 $foreground,
    $pixel-size*9 $pixel-size*9 0 $foreground,
    $pixel-size*10 $pixel-size*9 0 $foreground,
    $pixel-size*14 $pixel-size*9 0 $foreground,
    $pixel-size*15 $pixel-size*9 0 $foreground,

    $pixel-size*0 $pixel-size*10 0 $foreground,
    $pixel-size*1 $pixel-size*10 0 $foreground,
    $pixel-size*5 $pixel-size*10 0 $foreground,
    $pixel-size*9 $pixel-size*10 0 $foreground,
    $pixel-size*10 $pixel-size*10 0 $foreground,
    $pixel-size*14 $pixel-size*10 0 $foreground,
    $pixel-size*15 $pixel-size*10 0 $foreground,

    $pixel-size*0 $pixel-size*11 0 $foreground,
    $pixel-size*1 $pixel-size*11 0 $foreground,
    $pixel-size*5 $pixel-size*11 0 $foreground,
    $pixel-size*9 $pixel-size*11 0 $foreground,
    $pixel-size*10 $pixel-size*11 0 $foreground,
    $pixel-size*14 $pixel-size*11 0 $foreground,
    $pixel-size*15 $pixel-size*11 0 $foreground,

    $pixel-size*0 $pixel-size*12 0 $foreground,
    $pixel-size*1 $pixel-size*12 0 $foreground,
    $pixel-size*5 $pixel-size*12 0 $foreground,
    $pixel-size*9 $pixel-size*12 0 $foreground,
    $pixel-size*10 $pixel-size*12 0 $foreground,
    $pixel-size*14 $pixel-size*12 0 $foreground,
    $pixel-size*15 $pixel-size*12 0 $foreground,

    $pixel-size*0 $pixel-size*13 0 $foreground,
    $pixel-size*1 $pixel-size*13 0 $foreground,
    $pixel-size*5 $pixel-size*13 0 $foreground,
    $pixel-size*9 $pixel-size*13 0 $foreground,
    $pixel-size*10 $pixel-size*13 0 $foreground,
    $pixel-size*14 $pixel-size*13 0 $foreground,
    $pixel-size*15 $pixel-size*13 0 $foreground,

    $pixel-size*0 $pixel-size*14 0 $foreground,
    $pixel-size*1 $pixel-size*14 0 $foreground,
    $pixel-size*2 $pixel-size*14 0 $foreground,
    $pixel-size*3 $pixel-size*14 0 $foreground,
    $pixel-size*4 $pixel-size*14 0 $foreground,
    $pixel-size*5 $pixel-size*14 0 $foreground,
    $pixel-size*6 $pixel-size*14 0 $foreground,
    $pixel-size*7 $pixel-size*14 0 $foreground,
    $pixel-size*8 $pixel-size*14 0 $foreground,
    $pixel-size*9 $pixel-size*14 0 $foreground,
    $pixel-size*10 $pixel-size*14 0 $foreground,
    $pixel-size*11 $pixel-size*14 0 $foreground,
    $pixel-size*12 $pixel-size*14 0 $foreground,
    $pixel-size*13 $pixel-size*14 0 $foreground,
    $pixel-size*14 $pixel-size*14 0 $foreground,
    $pixel-size*15 $pixel-size*14 0 $foreground,

    $pixel-size*1 $pixel-size*15 0 $foreground,
    $pixel-size*2 $pixel-size*15 0 $foreground,
    $pixel-size*3 $pixel-size*15 0 $foreground,
    $pixel-size*4 $pixel-size*15 0 $foreground,
    $pixel-size*5 $pixel-size*15 0 $foreground,
    $pixel-size*6 $pixel-size*15 0 $foreground,
    $pixel-size*7 $pixel-size*15 0 $foreground,
    $pixel-size*8 $pixel-size*15 0 $foreground,
    $pixel-size*9 $pixel-size*15 0 $foreground,
    $pixel-size*10 $pixel-size*15 0 $foreground,
    $pixel-size*11 $pixel-size*15 0 $foreground,
    $pixel-size*12 $pixel-size*15 0 $foreground,
    $pixel-size*13 $pixel-size*15 0 $foreground,
    $pixel-size*14 $pixel-size*15 0 $foreground;
}

.github-icon {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow:
  $pixel-size*5 0 0 $foreground,
  $pixel-size*6 0 0 $foreground,
  $pixel-size*7 0 0 $foreground,
  $pixel-size*8 0 0 $foreground,
  $pixel-size*9 0 0 $foreground,
  $pixel-size*10 0 0 $foreground,

  $pixel-size*3 $pixel-size*1 0 $foreground,
  $pixel-size*4 $pixel-size*1 0 $foreground,
  $pixel-size*5 $pixel-size*1 0 $foreground,
  $pixel-size*6 $pixel-size*1 0 $foreground,
  $pixel-size*7 $pixel-size*1 0 $foreground,
  $pixel-size*8 $pixel-size*1 0 $foreground,
  $pixel-size*9 $pixel-size*1 0 $foreground,
  $pixel-size*10 $pixel-size*1 0 $foreground,
  $pixel-size*11 $pixel-size*1 0 $foreground,
  $pixel-size*12 $pixel-size*1 0 $foreground,

  $pixel-size*2 $pixel-size*2 0 $foreground,
  $pixel-size*3 $pixel-size*2 0 $foreground,
  $pixel-size*4 $pixel-size*2 0 $foreground,
  $pixel-size*5 $pixel-size*2 0 $foreground,
  $pixel-size*6 $pixel-size*2 0 $foreground,
  $pixel-size*7 $pixel-size*2 0 $foreground,
  $pixel-size*8 $pixel-size*2 0 $foreground,
  $pixel-size*9 $pixel-size*2 0 $foreground,
  $pixel-size*10 $pixel-size*2 0 $foreground,
  $pixel-size*11 $pixel-size*2 0 $foreground,
  $pixel-size*12 $pixel-size*2 0 $foreground,
  $pixel-size*13 $pixel-size*2 0 $foreground,

  $pixel-size*1 $pixel-size*3 0 $foreground,
  $pixel-size*2 $pixel-size*3 0 $foreground,
  $pixel-size*3 $pixel-size*3 0 $foreground,
  $pixel-size*5 $pixel-size*3 0 $foreground,
  $pixel-size*6 $pixel-size*3 0 $foreground,
  $pixel-size*7 $pixel-size*3 0 $foreground,
  $pixel-size*8 $pixel-size*3 0 $foreground,
  $pixel-size*9 $pixel-size*3 0 $foreground,
  $pixel-size*10 $pixel-size*3 0 $foreground,
  $pixel-size*12 $pixel-size*3 0 $foreground,
  $pixel-size*13 $pixel-size*3 0 $foreground,
  $pixel-size*14 $pixel-size*3 0 $foreground,

  $pixel-size*1 $pixel-size*4 0 $foreground,
  $pixel-size*2 $pixel-size*4 0 $foreground,
  $pixel-size*3 $pixel-size*4 0 $foreground,
  $pixel-size*6 $pixel-size*4 0 $foreground,
  $pixel-size*7 $pixel-size*4 0 $foreground,
  $pixel-size*8 $pixel-size*4 0 $foreground,
  $pixel-size*9 $pixel-size*4 0 $foreground,
  $pixel-size*12 $pixel-size*4 0 $foreground,
  $pixel-size*13 $pixel-size*4 0 $foreground,
  $pixel-size*14 $pixel-size*4 0 $foreground,

  $pixel-size*0 $pixel-size*5 0 $foreground,
  $pixel-size*1 $pixel-size*5 0 $foreground,
  $pixel-size*2 $pixel-size*5 0 $foreground,
  $pixel-size*3 $pixel-size*5 0 $foreground,
  $pixel-size*12 $pixel-size*5 0 $foreground,
  $pixel-size*13 $pixel-size*5 0 $foreground,
  $pixel-size*14 $pixel-size*5 0 $foreground,
  $pixel-size*15 $pixel-size*5 0 $foreground,

  $pixel-size*0 $pixel-size*6 0 $foreground,
  $pixel-size*1 $pixel-size*6 0 $foreground,
  $pixel-size*2 $pixel-size*6 0 $foreground,
  $pixel-size*13 $pixel-size*6 0 $foreground,
  $pixel-size*14 $pixel-size*6 0 $foreground,
  $pixel-size*15 $pixel-size*6 0 $foreground,

  $pixel-size*0 $pixel-size*7 0 $foreground,
  $pixel-size*1 $pixel-size*7 0 $foreground,
  $pixel-size*2 $pixel-size*7 0 $foreground,
  $pixel-size*13 $pixel-size*7 0 $foreground,
  $pixel-size*14 $pixel-size*7 0 $foreground,
  $pixel-size*15 $pixel-size*7 0 $foreground,

  $pixel-size*0 $pixel-size*8 0 $foreground,
  $pixel-size*1 $pixel-size*8 0 $foreground,
  $pixel-size*2 $pixel-size*8 0 $foreground,
  $pixel-size*13 $pixel-size*8 0 $foreground,
  $pixel-size*14 $pixel-size*8 0 $foreground,
  $pixel-size*15 $pixel-size*8 0 $foreground,

  $pixel-size*0 $pixel-size*9 0 $foreground,
  $pixel-size*2 $pixel-size*9 0 $foreground,
  $pixel-size*3 $pixel-size*9 0 $foreground,
  $pixel-size*12 $pixel-size*9 0 $foreground,
  $pixel-size*13 $pixel-size*9 0 $foreground,
  $pixel-size*14 $pixel-size*9 0 $foreground,
  $pixel-size*15 $pixel-size*9 0 $foreground,

  $pixel-size*0 $pixel-size*10 0 $foreground,
  $pixel-size*1 $pixel-size*10 0 $foreground,
  $pixel-size*3 $pixel-size*10 0 $foreground,
  $pixel-size*4 $pixel-size*10 0 $foreground,
  $pixel-size*11 $pixel-size*10 0 $foreground,
  $pixel-size*12 $pixel-size*10 0 $foreground,
  $pixel-size*13 $pixel-size*10 0 $foreground,
  $pixel-size*14 $pixel-size*10 0 $foreground,
  $pixel-size*15 $pixel-size*10 0 $foreground,

  $pixel-size*1 $pixel-size*11 0 $foreground,
  $pixel-size*4 $pixel-size*11 0 $foreground,
  $pixel-size*5 $pixel-size*11 0 $foreground,
  $pixel-size*10 $pixel-size*11 0 $foreground,
  $pixel-size*11 $pixel-size*11 0 $foreground,
  $pixel-size*12 $pixel-size*11 0 $foreground,
  $pixel-size*13 $pixel-size*11 0 $foreground,
  $pixel-size*14 $pixel-size*11 0 $foreground,

  $pixel-size*1 $pixel-size*12 0 $foreground,
  $pixel-size*2 $pixel-size*12 0 $foreground,
  $pixel-size*11 $pixel-size*12 0 $foreground,
  $pixel-size*12 $pixel-size*12 0 $foreground,
  $pixel-size*13 $pixel-size*12 0 $foreground,
  $pixel-size*14 $pixel-size*12 0 $foreground,

  $pixel-size*2 $pixel-size*13 0 $foreground,
  $pixel-size*3 $pixel-size*13 0 $foreground,
  $pixel-size*4 $pixel-size*13 0 $foreground,
  $pixel-size*11 $pixel-size*13 0 $foreground,
  $pixel-size*12 $pixel-size*13 0 $foreground,
  $pixel-size*13 $pixel-size*13 0 $foreground,

  $pixel-size*3 $pixel-size*14 0 $foreground,
  $pixel-size*4 $pixel-size*14 0 $foreground,
  $pixel-size*11 $pixel-size*14 0 $foreground,
  $pixel-size*12 $pixel-size*14 0 $foreground,

  $pixel-size*4 $pixel-size*15 0 $foreground,
  $pixel-size*11 $pixel-size*15 0 $foreground;
}

.face {
  width: $pixel-size;
  height: $pixel-size;
  font-family:monospace;
  box-shadow: $pixel-size*1 $pixel-size*12 0 $foreground;
}
