//
  Interested to see how this was made?
  Checkout this on github, all the code is there.
  https://github.com/harrymckillen/harrymckillen.com

doctype html

html(lang="en" dir="ltr")

  head
    link(rel="stylesheet" href="/css/theme.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(charset="utf-8")
    title Harry McKillen

  body
    h1 Harry McKillen
    p Mainly I'm a Web Developer. Front-end Team Lead for Aer Lingus. Irish, no desire to relocate elsewhere in the near future (sorry Recruiters), unless it's to a sunny place for my retirement. Love bingewatching TV series, not so much Movies any more. More recently listening to various podcasts/talkshows on a variety of topics; Sports, Current Affairs, History, Conspiracy Theories. Love nutters on Twitter.

