//
  Interested to see how this was made?
  Checkout this on github, all the code is there.
  https://github.com/harrymckillen/harrymckillen.com

doctype html

html(lang="en" dir="ltr")

  head
    link(rel="stylesheet" href="/css/theme.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="Harry McKillen, Web Developer, Geek, Want to be Games Developer. Dad.")
    meta(name="theme-color" content="#111")

    meta(charset="utf-8")
    title Harry McKillen

  body
    div.grid
      header
        h1.main-title Harry McKillen

      section
        h2 Connect
        ul
          li
            a(href="https://twitter.com/_hmck" target="_blank") Twitter
            div(class="icon-container")
              div(class="twitter-icon") &nbsp;
          li
            a(href="http://www.linkedin.com/in/harrymckillen" target="_blank") LinkedIn
            div(class="icon-container")
              div(class="linkedin-icon") &nbsp;
          li
            a(href="https://github.com/harrymckillen" target="_blank") GitHub
            div(class="icon-container")
              div(class="github-icon") &nbsp;

      article
        //- div.face-container
        //-   div.face

        p.blurb My name is #[span(itemscope itemprop="author" itemtype="http://schema.org/Person") #[meta(itemprop="description" content="I currently work for Aer Lingus as a UI Team Lead.")] #[span(itemprop="name") Harry], I am a #[span(itemprop="jobtitle") Web Developer]]  by profession. Front-end Team Lead for #[a(href="https://www.aerlingus.com" target="_blank") Aer Lingus]. Wannabe Games Developer. Love bingewatching TV series, not so much Movies any more (lack the time to watch them in a single sitting). More recently listening to various podcasts/talkshows on a variety of topics; Sports, Current Affairs, History &amp; loads of other stuff. And lastly, I'm someone's Dad.#[span(class="blinking-cursor") &nbsp;]

        h2 Skillset

        p Javascript / AngularJS / Angular / NodeJS / HTML / CSS

      footer
        div Theme:
          button(class="theme-button" data-themeid="default" aria-label="Default") &nbsp;
          button(class="theme-button" data-themeid="theme1" aria-label="Blue") &nbsp;
          button(class="theme-button" data-themeid="theme1alt" aria-label="Grey") &nbsp;
        p (c) Harry McKillen, 2018

    script(type="text/javascript" src="/scripts/baffle.js")
    script(type="text/javascript" src="/scripts/site.js")
