//
  Interested to see how this was made?
  Checkout this on github, all the code is there.
  https://github.com/harrymckillen/harrymckillen.com

doctype html

html(lang="en" dir="ltr")

  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&family=Inconsolata&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/output.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="Harry McKillen, Web Developer, Geek, Want to be Games Developer. Dad.")
    meta(name="theme-color" content="#f867fa")

    meta(charset="utf-8")
    title Harry McKillen

  body(itemscope itemtype="http://schema.org/Person" class="h-full w-full")
    //- Header
    include components/header.pug

    main#about(class="p-4 anchor")

      div(class="trapezoid-background text-center w-12/12 sm:w-3/4 lg:w-4/5 mx-auto")
        div.text
          h3(class="text-2xl sm:text-4xl pt-8 mb-2") About

          p(class="text-xl sm:text-2xl w-10/12 mx-auto pb-4") Kilkenny-born Web Developer. Have 19+ years developing with a variety of Web Technologies. BSc. in Computer Science. Currently a Frontend Engineer with #[a(class="underline" target="_blank" href="https://www.inscribe.ai") InscribeAI].
        div.navy-shape &nbsp;
        div.white-shape &nbsp;


    section#skills(class="text-center w-10/12 sm:w-2/3 lg:w-3/5 mx-auto my-8 md:mt-10 anchor")

      h3(class="text-2xl sm:text-4xl mb-2") Skills

      p(class="text-xl sm:text-2xl")
        | &middot; #[strong Javascript]; ES5/6, Angular / AngularJS / VueJS / NodeJS (numerous other libraries)
        | &middot; #[strong HTML]; WAI-AA Accessibility with ARIA land-marking, testing on NVDA, Jaws, VoiceOver and TalkBack
        | &middot; #[strong CSS]; Good knowledge of modern features, such as Flexbox, CSS Grid, Basic Animations. Experience using Bootstrap, Tailwind CSS etc. Pre-processors such as LESS and SASS.
        | &middot; #[strong Backend]; Working knowledge of Python and PHP, and numerous other ones I've used sparingly over the years.
      p(class="text-xl sm:text-2xl mt-4") #[a(class="underline" target="_blank" href="http://wolfhound.ie/about.html") You can read more info on my skillset, here].


    footer#contact(class="float-left w-full anchor")

      section(class="text-center w-10/12 sm:w-2/3 lg:w-3/5 mx-auto mt-12 md:mt-16")

        h3(class="text-2xl sm:text-4xl mb-2") Contact

        p(class="text-xl sm:text-2xl") Feel free to reach out to me at #[a(class="underline" href="mailto:hi@harrymckillen.com") hi@harrymckillen.com]


      section(class="w-2/3 md:w-1/4 mx-auto text-center mt-4 mb-6")

        h3.my-4 or via #[span(class="sr-only") Social Media]

        div.flex.justify-between.text-left
          a(href="https://twitter.com/_hmck" target="_blank")
            span.icon-container
              span.twitter-icon &nbsp;

          a(href="http://www.linkedin.com/in/harrymckillen" target="_blank")
            span.icon-container
              span.linkedin-icon &nbsp;

          a(href="https://github.com/harrymckillen" target="_blank")
            span.icon-container
              span.github-icon &nbsp;

      div(class="made-80s mx-auto mt-16")
        small.made Made in the
        span.eighties 80's
        div.pink-triangle &nbsp;
        div.white-triangle &nbsp;

      p(class="w-full text-center mt-4 p-4") &copy; Harry McKillen, 1983 &mdash; Present

    script(src="/scripts/site.js" type="module")
