//
  Interested to see how this was made?
  Checkout this on github, all the code is there.
  https://github.com/harrymckillen/harrymckillen.com
  I wanted to use CSS Grid, so I built this new, very
  basic, version of my site.

doctype html

html(lang="en" dir="ltr")

  head
    link(href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/output.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="Harry McKillen, Web Developer, Geek, Want to be Games Developer. Dad.")
    meta(name="theme-color" content="#111")

    meta(charset="utf-8")
    title Harry McKillen

  body(itemscope itemtype="http://schema.org/Person").h-full.w-full.bg-cover

    main.terminal(class="w-11/12 md:w-7/12 mx-auto my-8 rounded-t-md shadow-deep")

      div.window-border.border-b-2.border-gray-800.p-2.bg-gray-800.flex.flex-row-reverse.rounded-t-md
        div.bg-red-600.w-3.h-3.rounded-full.mr-2
        div.bg-yellow-500.w-3.h-3.rounded-full.mr-2
        div.bg-green-500.w-3.h-3.rounded-full.mr-2

      div#console.commands.bg-opacity-75.bg-gray-900.px-2.py-3.min-h-screen

        div.text-gray-100.text-center

          pre ##########################################################
          pre #                     Harry McKillen                     #
          pre #              ~~ No Unauthorised Access ~~              #
          pre #     Type 'help' for a list of commands to help you     #
          pre #     navigate around the site                           #
          pre ##########################################################

        p(v-for="cmd in pastCmds")
          span.text-brightgreen guest@harrymckillen.com $&nbsp;
          span.text-gray-100 {{ cmd.text }}

        p
          span.text-brightgreen guest@harrymckillen.com $&nbsp;
          span.text-gray-100 #[input(v-model="cli" ref="cli" class="w-5 bg-transparent focus:border-gray-100 focus:border-solid focus:border")] #[button(v-on:click="runCmd(cli)").bg-white.rounded-md.px-4.text-black Run Command] #[span.blinking-cursor &nbsp;]

    footer(class="flex")
      p.w-full.text-center.p-4 (c) Harry McKillen, 2019

    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/scripts/site.js" type="module")
